h1, h2, h3, h4, h5, h6, p{
    color: white;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.admin{
    height: 100vh;
    width: 100%;
    background: black;
    background: 
        linear-gradient(transparent, black 100%),
        url('../assets/imgs/13551.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: top;
}


section.adminPageContainer.top{
    height: auto;
    width: 20%;
    padding: 11vh 3%;
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
    overflow: hidden;
    
}
.admPageContent.top{
    height: auto;
    width: 100%;
}
.admpc.top{
    height: auto;
    width: 100%;
}
.admpcViewNav{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}
.admpcViewNav button{
    background: none;
    width: 100%;
    border: none;
    outline: none;
    padding: 5% 10%;
    border-radius: 0.5vw;
    margin-bottom: 5%;
    opacity: 50%;
    cursor: pointer;
    text-align: left;
}
.admpcViewNav button:hover{
    opacity: 100%;
    transition: 400ms ease;
}
.admpcViewNav button h6{
    font-size: 0.7vw;
    font-weight: 600;
}
.admpcViewNav button#adminNavBars,
.admpcViewNav button#adminNavClose{
    border: none;
    opacity: 100%;
    background: none;
}
.admpcViewNav button#adminNavBars h6,
.admpcViewNav button#adminNavClose h6{
    font-size: 2vw;
    line-height: 0.7vw;
    font-weight: 400;
}
.admpcViewNav button.activeNav{
    background: gold;
    box-shadow: 0 0 10px white;
    opacity: 100%;
}
.admpcViewNav button.activeNav h6{
    color: black;
}





section.adminPageContainer.mid{
    height: auto;
    width: 80%;
}
.admPageContent.mid1{
    height: auto;
    width: 100%;
    width: 100%;
    padding: 11vh 3%;
    padding-bottom: 0;
    padding-right: 10%;
}



.admpcm1Dashboard{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
}
.admpcm1dContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 1% 0;
}
.admpcm1dContent.left{
    height: auto;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0;
}
.admpcm1dContent.right{
    height: auto;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0;
    padding: 0.2% 0;
}
.admpcm1dContent.left div{
    height: auto;
    width: 32%;
    padding: 2%;
    border-radius: 1vw;
    border: solid 2px white;
    text-align: right;
    margin: 0.5%;
}
.admpcm1dContent.right div{
    height: 100%;
    width: 48.5%;
    padding: 3%;
    border-radius: 1vw;
    border: solid 2px white;
    text-align: right;
    position: relative;
    margin-left: 1%;
}
.admpcm1dContent.right div h4{
    font-size: 1.7vw;
}
.admpcm1dContent.right div p{
    font-size: 0.7vw;
}
.admpcm1dContent.right div span{
    position: absolute;
    bottom: 7%;
    left: 7%;
}
.admpcm1dContent.right div span h6{
    font-size: 0.9vw;
    display: flex;
    align-items: center;
}
.admpcm1dContent.right div span h6 .faIcons{
    font-size: 1vw;
    margin-right: 5%;
}
.admpcm1dContent div h6{
    font-size: 0.7vw;
    font-weight: 400;
    margin-top: 2%;
}
.admpcm1dContent div p{
    margin-top: 2%;
}
.admpcm1dTransaction{
    height: auto;
    width: 100%;
}
.admpcm1dTransaction table{
    height: auto;
    width: 100%;
    margin-top: 1%;
    border-collapse: collapse;
}
.admpcm1dTransaction table tr th{
    border: solid 1px gray;
    padding: 0.5% 0.2%;
}
.admpcm1dTransaction table tr th p{
    font-size: 0.7vw;
    font-weight: 400;
}
.admpcm1dTransaction table tr td{
    text-align: center;
    padding: 0.3%;
}
.admpcm1dTransaction table tr td p{
    font-size: 0.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admpcm1dTransaction table#admpcm1dtContent{
    height: auto;
    width: 100%;
    margin-top: 0.5%;
    border-collapse: separate;
}
.admpcm1dTransaction table tbody tr:nth-child(odd){
    background: rgba(80, 80, 80, 0.5);
}
.admpcm1dTransaction table tbody tr:nth-child(even){
    background: rgba(80, 80, 80, 0.3);
}
.admpcm1dTransaction table tbody tr td p .faIcons{
    line-height: 0.5vw;
}





.admpcm1Supplier{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
}
.admpcm1AddSuppContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 1% 0;
}
.admpcm1ASuppContent.left{
    height: auto;
    width: 50%;
}
.admpcm1ASuppContent.left p{
    font-size: 0.7vw;
}
.admpcm1ASuppCAll{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4% 0;
}
.admpcm1ASuppCAll div{
    width: 48%;
    padding: 3% 5%;
    text-align: right;
    border-radius: 1vw;
    border: solid 2px white;
}
.admpcm1ASuppCAll div p{
    font-size: 0.7vw;
    margin-top: 1%;
    opacity: 50%;
}
.admpcm1ASuppCView{
    height: auto;
    width: 100%;
}
.admpcm1ASuppCView table{
    height: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 1%;
}
.admpcm1ASuppCView table tr th{
    border: solid 1px gray;
    padding: 1% 0.2%;
}
.admpcm1ASuppCView table tr th p{
    font-size: 0.7vw;
}
.admpcm1ASuppCView table tbody tr td{
    padding: 1% 2%;
}
.admpcm1ASuppCView table tbody tr:nth-child(odd){
    background: rgba(80, 80, 80, 0.5);
}
.admpcm1ASuppCView table tbody tr:nth-child(even){
    background: rgba(80, 80, 80, 0.3);
}





.admpcm1ASuppContent.right{
    height: auto;
    width: 40%;
    border-radius: 1vw;
    padding: 3% 0;
    background: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 10px black;
}
.admpcm1ASuppContent.right form{
    height: auto;
    width: 100%;
}
.admpcm1ASuppContent.right form h5{
    text-align: center;
    margin-bottom: 2%;
}
.admpcm1ASuppContentForm{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    padding-bottom: 0;
}
.admpcm1ASuppContentForm span{
    height: auto;
    width: 100%;
    margin: 2% 0;
}
.admpcm1ASuppContentForm span p{
    font-size: 0.7vw;
}
.admpcm1ASuppContentForm span input{
    width: 100%;
    padding: 2%;
    border-radius: 0.5vw;
    margin-top: 1%;
    background: none;
    border: solid 1px white;
    color: white;
    font-size: 0.7vw;
}
.admpcm1ASuppContentForm span textarea{
    height: 4vw;
    width: 100%;
    padding: 1% 2%;
    border-radius: 0.5vw;
    margin-top: 2%;
    background: none;
    border: solid 1px white;
    color: white;
    font-size: 0.7vw;
}
.admpcm1ASuppContentForm span.supplierSubmitStatus p{
    height: 1vw;
    text-align: center;
    margin: 1%;
    font-style: italic;
} 
.admpcm1ASuppContentForm span.supplierSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
} 
.admpcm1ASuppContentForm span.supplierSubmit button{
    padding: 2% 5%;
    background: none;
    border: solid 2px white;
    outline: none;
    border-radius: 50px;
    opacity: 50%;
    cursor: pointer;
    font-size: 0.7vw;
    color: white;
}
.admpcm1ASuppContentForm span.supplierSubmit button:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 5px white;
    background: white;
    color: black;
}









.admpcm1Games{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
}
.admpcm1AddGameContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 1% 0;
}
.admpcm1AGameContent.left{
    height: auto;
    width: 30%;
}
.admpcm1AGameContent.left p {
    font-size: 0.7vw;
}
.admpcm1AGamesCAll{
    height: auto;
    width: 100%;
    margin-top: 6%;
}
.admpcm1AGamesCAll div{
    width: 100%;
    padding: 4% 6%;
    margin-bottom: 3%;
    text-align: right;
    border-radius: 1vw;
    border: solid 2px white;
}
.admpcm1AGamesCAll div p{
    font-size: 0.7vw;
    margin-top: 1%;
    opacity: 50%;
}
.admpcm1AGameContent.right{
    height: auto;
    width: 65%;
    /* background: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 10px black;
    border-radius: 1vw;
    padding: 2% 0; */
}
.admpcm1AGameContent.right form{
    height: auto;
    width: 100%;
}
.admpcm1AGameContent.right form h5{
    text-align: center;
    margin-bottom: 2%;
}



.admpcm1agcForm{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-left: 5%;
}
.admpcm1agcf.left{
    height: auto;
    width: 30%;
}
.admpc1agcfImage{
    height: 20vw;
    width: 100%;
    border-radius: 1vw;
    border: dashed 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 3%;
}
.admpc1agcfImage input{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    opacity: 0;
}
.admpc1agcfImage input#imageCoverHiddenText{
    display: none;
    opacity: none;
}
.admpc1agcfImage img{
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 1vw;
}





.admpcm1agcf.right{
    height: auto;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admpcm1agcf.right span{
    margin-bottom: 3%;
    width: 48%;
    position: relative;
}
.admpcm1agcf.right span button{
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 0.9vw;
    background: none;
    border: none;
    outline: none;
    color: white;
}
.admpcm1agcf.right span p,
.admpcm1agcf.left span p{
    font-size: 0.7vw;
}
.admpcm1agcf.right span input,
.admpcm1agcf.left span input{
    width: 100%;
    margin-top: 2%;
    padding: 3% 5%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpcm1agcf.right span select{
    width: 100%;
    margin-top: 2%;
    padding: 3% 5%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpcm1agcf.right span textarea{
    width: 100%;
    margin-top: 2%;
    padding: 3% 5%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpcm1agcf.right span select option{
    background: black;
    border: solid 1px white;
    font-weight: 400;
}
.admpcm1agcf.right span.gameDescription{
    height: auto;
    width: 100%;
}
.admpcm1agcf.right span.gameDescription textarea{
    height: 5vw;
    width: 100%;
    margin-top: 2%;
    padding: 2% 3%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}





.admpc1agcfOthers{
    height: auto;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-left: 5%;
}
.admpc1agcfo.left{
    height: auto;
    width: 30%;
}
.admpc1agcfo.right{
    height: auto;
    width: 65%;
}
.admpc1agcfo.right span p,
.admpc1agcfo.left span p{
    font-size: 0.7vw;
}
.admpc1agcfo.right span input{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1.5% 3%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpc1agcfo span textarea{
    width: 100%;
    margin-top: 2%;
    padding: 2% 3%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpc1agcfo.left span textarea{
    height: 3.3vw;
}
.admpc1agcfo.right span textarea{
    height: 3.8vw;
}
.gameSubmitStatus{
    height: auto;
    width: 100%;
    text-align: center;
}
.gameSubmitStatus p{
    height: 1vw;
    text-align: center;
    margin: 1%;
    font-style: italic;
}
.admpc1agcfSubmit{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
}
.admpc1agcfSubmit button{
    padding: 1% 3%;
    background: none;
    border: solid 2px white;
    outline: none;
    border-radius: 50px;
    opacity: 50%;
    cursor: pointer;
    font-size: 0.7vw;
    color: white;
}
.admpc1agcfSubmit button:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 5px white;
    background: white;
    color: black;
}





.admpcm1GiftCards{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
}
.admpcm1AddGiftCardContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 1% 0;
}
.admpcm1AGiftCardContent.left{
    height: auto;
    width: 30%;
}
.admpcm1AGiftCardContent.left p {
    font-size: 0.7vw;
}
.admpcm1AGiftcardsCAll{
    height: auto;
    width: 100%;
    margin-top: 6%;
}
.admpcm1AGiftcardsCAll div{
    width: 100%;
    padding: 4% 6%;
    margin-bottom: 3%;
    text-align: right;
    border-radius: 1vw;
    border: solid 2px white;
}
.admpcm1AGiftcardsCAll div p{
    font-size: 0.7vw;
    margin-top: 1%;
    opacity: 50%;
}
.admpcm1AGiftCardContent.right{
    height: auto;
    width: 65%;
}
.admpcm1AGiftCardContent.right form{
    height: auto;
    width: 100%;
}
.admpcm1AGiftCardContent.right form h5{
    text-align: center;
    margin-bottom: 2%;
}
.admpcm1agcvForm{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    margin: 5% 0;
}
.admpcm1agcvf.left{
    height: auto;
    width: 30%;
}
.admpc1agcvfImage{
    height: 20vw;
    width: 100%;
    border-radius: 1vw;
    border: dashed 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 3%;
}
.admpc1agcvfImage input{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    opacity: 0;
}
.admpc1agcvfImage img{
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 1vw;
}
.admpcm1agcvf.right{
    height: auto;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admpcm1agcvf.right span{
    margin-bottom: 3%;
    width: 48%;
    position: relative;
}
.admpcm1agcvf.right span p,
.admpcm1agcvf.left span p{
    font-size: 0.7vw;
}
.admpcm1agcvf.right span input,
.admpcm1agcvf.left span input{
    width: 100%;
    margin-top: 2%;
    padding: 3% 5%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpcm1agcvf.right span select{
    width: 100%;
    margin-top: 2%;
    padding: 3% 5%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpcm1agcvf.right span#admpcm1agcvfDes{
    width: 100%;
}
.admpcm1agcvf.right span textarea{
    height: 5vw;
    width: 100%;
    margin-top: 1%;
    padding: 2% 3%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpcm1agcvf.right span select option{
    background: black;
    border: solid 1px white;
    font-weight: 400;
}
.admpcm1agcvf.right span.admpcm1agcvfDes{
    height: auto;
    width: 100%;
}
.admpcm1agcvf.right span.admpcm1agcvfDes textarea{
    height: 5vw;
    width: 100%;
    margin-top: 2%;
    padding: 2% 3%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.giftcardSubmitStatus{
    height: auto;
    width: 100%;
    text-align: center;
}
.giftcardSubmitStatus p{
    height: 1vw;
    text-align: center;
    margin: 1%;
    font-style: italic;
}
.admpc1agcvfSubmit{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    margin-top: 5%;
}
.admpc1agcvfSubmit button{
    padding: 1% 3%;
    background: none;
    border: solid 2px white;
    outline: none;
    border-radius: 50px;
    opacity: 50%;
    cursor: pointer;
    font-size: 0.7vw;
    color: white;
}
.admpc1agcvfSubmit button:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 5px white;
    background: white;
    color: black;
}














.admpcm1GameCredits{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
}
.admpcm1AddGameCreditsContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 1% 0;
}
.admpcm1AGameCreditsContent.left{
    height: auto;
    width: 30%;
}
.admpcm1AGameCreditsContent.left p {
    font-size: 0.7vw;
}
.admpcm1AGameCreditsCAll{
    height: auto;
    width: 100%;
    margin-top: 6%;
}
.admpcm1AGameCreditsCAll div{
    width: 100%;
    padding: 4% 6%;
    margin-bottom: 3%;
    text-align: right;
    border-radius: 1vw;
    border: solid 2px white;
}
.admpcm1AGameCreditsCAll div p{
    font-size: 0.7vw;
    margin-top: 1%;
    opacity: 50%;
}
.admpcm1AGameCreditsContent.right{
    height: auto;
    width: 65%;
}
.admpcm1AGameCreditsContent.right form{
    height: auto;
    width: 100%;
}
.admpcm1AGameCreditsContent.right form h5{
    text-align: center;
    margin-bottom: 2%;
}
.admpcm1agcrForm{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    margin: 5% 0;
}
.admpcm1agcrf.left{
    height: auto;
    width: 30%;
}
.admpc1agcrfImage{
    height: 20vw;
    width: 100%;
    border-radius: 1vw;
    border: dashed 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 3%;
}
.admpc1agcrfImage input{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    opacity: 0;
}
.admpc1agcrfImage img{
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 1vw;
}
.admpcm1agcrf.right{
    height: auto;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.admpcm1agcrf.right span{
    margin-bottom: 3%;
    width: 48%;
    position: relative;
}
.admpcm1agcrf.right span p,
.admpcm1agcrf.left span p{
    font-size: 0.7vw;
}
.admpcm1agcrf.right span input,
.admpcm1agcrf.left span input{
    width: 100%;
    margin-top: 2%;
    padding: 3% 5%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpcm1agcrf.right span select{
    width: 100%;
    margin-top: 2%;
    padding: 3% 5%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpcm1agcrf.right span#admpcm1agcrfDes{
    width: 100%;
}
.admpcm1agcrf.right span textarea{
    height: 5vw;
    width: 100%;
    margin-top: 1%;
    padding: 2% 3%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.admpcm1agcrf.right span select option{
    background: black;
    border: solid 1px white;
    font-weight: 400;
}
.admpcm1agcrf.right span.admpcm1agcrfDes{
    height: auto;
    width: 100%;
}
.admpcm1agcrf.right span.admpcm1agcrfDes textarea{
    height: 5vw;
    width: 100%;
    margin-top: 2%;
    padding: 2% 3%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.gamecreditSubmitStatus{
    height: auto;
    width: 100%;
    text-align: center;
}
.gamecreditSubmitStatus p{
    height: 1vw;
    text-align: center;
    margin: 1%;
    font-style: italic;
}
.admpc1agcrfSubmit{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    margin-top: 5%;
}
.admpc1agcrfSubmit button{
    padding: 1% 3%;
    background: none;
    border: solid 2px white;
    outline: none;
    border-radius: 50px;
    opacity: 50%;
    cursor: pointer;
    font-size: 0.7vw;
    color: white;
}
.admpc1agcrfSubmit button:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 5px white;
    background: white;
    color: black;
}


.admpcm1Product{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
}
.admpcm1ProductlistContainer{
    display: grid;
    grid-template-columns: 30% 70%;
    box-sizing: border-box;
}
.admpcm1ProductLeft-header p{
    font-size: .7vw;
}
.admpcm1ProductlistContent.left ul{
    padding: 0;
    list-style: none;
    margin: 6% 0;
}
.totalGameProducts ul li{
    width: 100%;
    margin-bottom: 3%;
    padding: 4% 6%;
    text-align: right;
    border: solid 2px white;
    border-radius: 1vw;
}
.totalGameProducts li h1{
    font-size: 2vw;
}
.totalGameProducts li p{
    font-size: .7vw;
    opacity: 50%;
}
.admpcm1ProductlistContent.left hr{
    margin: 3% 0;
}


.admpcm1ProductlistContent.right{
    padding: 0 3%;
}
.admpcm1ProductlistContent.right hr{
    margin: 1% 0;
}
.admpcm1ProductRight-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.admpcm1ProductRight-header h1{
    font-size: 1vw;
}
.admpcm1ProductRight-header span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10vw;
}
.admpcm1ProductRight-header span p{
    font-size: .7vw;
    margin: 0 2%;
}
.admpcm1ProductRight-header span h1{
    font-size: .7vw;
    cursor: pointer;
    display: flex;
    justify-content: right;
    text-transform: capitalize;
}
#orderIcon{
    font-size: .7vw;
}
.sortDatafetch{
    text-transform: capitalize;
}
.sortingSelection.true{
    opacity: 1;
    visibility: visible;
    top: 2vw;
}
.sortingSelection{
    list-style: none;
    color: white;
    position: absolute;
    top: 1vw;
    right: 0;
    text-align: center;
    background: black;
    border: .1vw solid white;
    padding: .5vw;
    border-radius: .5vw;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    z-index: 3;
}
.admpcm1ProductRight-header span button{
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: 0;
    color: white;
    font-weight: 1000;
    text-transform: capitalize;
}
.admpcm1ProductRight-header span ul li{
    padding: .5vw;
    cursor: pointer;
    border-radius: .5vw;
    text-transform: capitalize;
}
.admpcm1ProductRight-header span ul li:hover{
    outline: .1vw solid white;
}


/* loader */
.admpcm1ProductRight-loader{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admpcm1ProductRightloader {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .admpcm1ProductRightloader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }

  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }

.admpcm1ProductRight-productList h1{
    font-size: 1.5vw;
}
.admpcm1ProductRight-productList ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1vw;
    list-style: none;
    width: 100%;
    height: 35vw;
    overflow-x: hidden;
    justify-content: space-between;
    box-sizing: border-box;
}
.admpcm1Filter{
    position: relative;
}
#changeFilter{
    font-size: 1vw;
    cursor: pointer;
}
.admpcmviewFilterby{
    border: 2px solid white;
    height: auto;
    width: 30%;
    padding: 2% 5%;
    padding-top: 1%;
    border-radius: 1vw;
    position: absolute;
    display: inline-block;
    z-index: 1;
    background: black;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    left: 0;
    top: 0;
}
.admpcmviewFilterby.true{
    visibility: visible;
    opacity: 1;
    top: 3vw;
}
.admpcm1Filter section p{
    width: 100%;
    text-align: center;
    font-size: .7vw;
    color: white;
    padding: 1vw;
    padding-bottom: 0.5vw;
    cursor: pointer;
}
.admpcm1Filter section p:hover{
    border-bottom: 2px solid white;
}
.admpcm1ProductRight-productList ul{
    display: flex;
    justify-content: left;
}
.admpcm1ProductRight-productList li{
    border: .1vw solid white;
    height: 13vw;
    width: 10vw;
    margin: 1%;
    border-radius: 1vw;
    transition: .3s ease;
    cursor: pointer;
    padding: 1%;
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: center;
    overflow: hidden;
}
.admpcm1ProductRight-productList li:hover{
    transform: scale(1.03);
    box-shadow: 0 0 1vw white;
}
.admpcm1ProductRight-productList li:hover .prdGameinfo-edit{
    visibility: visible;
    opacity: 1;
}
.prdgcDenomination{
    height: 3vw;
    width: 4vw;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5vw;
    box-shadow: 0 0 10px gray;
}
.prdgcDenomination h6{
    color: black;
}
.prdGameinfo{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    box-sizing: border-box;
    padding: 5% 10%;
}
.prdGameinfo h1{
    font-size: .7vw;
}
.prdGameinfo p{
    font-size: .5vw;
    text-transform: uppercase;
    margin: 1% 0 0 0;
}



.prdGameinfo-edit{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}
.prdGameinfo-edit button{
    background: none;
    color: white;
    border: none;
    outline: .1vw solid white;
    border-radius: .5vw;
    padding: .2vw;
    width: 100%;
    margin: 2% 0;
    transition: .3s ease;
    cursor: pointer;
    font-size: .7vw;
    text-transform: capitalize;
}
.prdGameinfo-edit buttoN:hover{
    background: white;
    color: black;
    outline: 0;
}




.admineditGamedata{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}



.admineditData-container{
    height: 30vw;
    width: 50vw;
    border: .1vw solid white;
    box-shadow: 0 0 1vw white;
    border-radius: 1vw;
    background: black;
    overflow: hidden;
    position: relative;
}


/* close modal */
.closeEditModal{
    position: absolute;
    z-index: 1;
    right: 1vw;
    top: 1vw;
}
#closeEditbtn{
    color: white;
    font-size: .7vw;
    cursor: pointer;
}
#closeEditbtn:hover{
    color: red;
}


.admineditData-contents{
    display: flex;
}
.hrSpace{
    border: .1vw dashed white;
}
.admineditData-contents section{
    height: 30vw;
    position: relative;
}
#gameEditdetails{
    width: 100%;
}
.editableGamedata{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.editableGamedata-header h1{
    font-size: 1.2vw;
}
.editableGamedata-header p{
    font-size: .7vw;
    opacity: 50%;
    text-transform: uppercase;
    width: 100%;
    padding: 0 1vw;
    box-sizing: border-box;
}
.editableGamedata-contents ul{
    list-style: none;
    padding: 1vw;
    display: flex;
}
.editableGamedata-contents ul li{
    width: 100%;
    border: .1vw solid white;
    padding: .5vw;
    margin: 1%;
    border-radius: .5vw;
}
.editableGamedata-contents ul li h1{
    font-size: .8vw;
    text-transform: uppercase;
}
.editableGamedata-contents ul li span{
    outline: .1vw solid white;
    border-radius: .3vw;
    display: flex;
    align-items: center;
    padding: .5vw;
    margin: .5vw 0 0 0;
}
.editableGamedata-contents ul li span input{
    font-size: .8vw;
    width: 100%;
    background: none;
    border: none;
    color: white;
    outline: 0;
}




.editableGamedata-contents hr{
    margin: 1vw 5vw;
}
.editableGamedata-info{
    display: flex;
    padding: 0 1vw;
    box-sizing: border-box;
    justify-content: center;
}
.editableGamedata-info hr{
    margin: 0 .5vw;
}
.editableGamedata-info span{
    margin: 0 .5vw;
}
.editableGamedata-info h1{
    font-size: .6vw;
    text-transform: capitalize;
}
.editableGamedata-info p{
    font-size: .6vw;
}
#editItemIcon{
    color: white;
    font-size: .7vw;
    cursor: pointer;
}


/* add code */
.addgameCodeinfo{
    height: 100%;
    width: 15vw;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 3vw 0;
    position: relative;
    background: linear-gradient(transparent, black 100%) center center no-repeat, url('https://2wave.io/CoverPics/LoginBackground.jpg');
    background-size: cover;
}
.addgameCodeinfo span{
    padding: 0 1vw;
    height: 22vw;
    overflow-y: scroll;
    width: 100%;
}
.addgameCodeinfo span h1{
    font-size: 1vw;
    margin: 0 0 .5vw 0;
}
.addgameCodeinfo span input{
    width: 100%;
    margin: 0 0 .5vw 0;
    padding: .2vw .5vw;
    border-radius: .5vw;
    border: none;
    outline: .1vw solid white;
    background: none;
    color: white;
    font-size: .7vw;
}
.addgameCodeinfo span button{
    width: 100%;
    padding: .2vw;
    border-radius: .5vw;
    cursor: pointer;
    font-size: .7vw;
}
.submitEditabledata{
    position: absolute;
    bottom: 2vw;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1vw;
}
.submitEditabledata button{
    width: 100%;
    font-size: .7vw;
    padding: .2vw;
    border-radius: .5vw;
    outline: .1vw solid white;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
}
.submitEditabledata button:hover{
    background: white;
    color: black;
    outline: 0;
}



.admproductSearch{
    border: .1vw solid white;
    border-radius: 1vw;
    padding: .2vw 5%;
    width: 20vw;
    box-sizing: border-box;
}
.admproductSearch form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.admproductSearch form input{
    border: none;
    outline: 0;
    background: none;
    color: white;
    width: 100%;
    margin: 0 .2vw 0 0;
}
.admproductSearch form button{
    color: white;
    border: none;
    outline: 0;
    background: none;
    display: flex;
    align-items: center;
}









/* news */
.admpcm1NewsHeader h1{
    font-size: 2vw;
    text-transform: uppercase;
}
.admpcm1NewsContainer hr{
    margin: 1vw 0;
}
.admpcm1NewsHeader p{
    font-size: .7vw;
}
.admpcm1NewsCards h1{
    font-size: 1vw;
}
.admpcm1Addnews{
    margin: 1vw 0;
}
.admpcm1Addnews p{
    font-size: .7vw;
}
.admpcm1AddnewsInput{
    outline: .1vw solid white;
    padding: .2vw .5vw;
    margin: .5vw 0;
    border-radius: 1vw;
    width: 20vw;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.admpcm1AddnewsInput input{
    background: none;
    font-size: .7vw;
    width: 100%;
    border: none;
    outline: 0;
    color: white;
    margin: 0 .5vw 0 0;
}
#addNewsbtnIcon{
    color: white;
    font-size: 1vw;
    cursor: pointer;
}
.admpcm1NewsCardsList{
    columns: 4;
    column-gap: 1vw;
    margin: 1vw 0 0 0;
}
.link-preview-admin{
    background: white;
    padding: .5vw;
    width: auto;
    border-radius: .5vw;
    break-inside: avoid;
}
.link-preview-admin img{
    height: auto;
    width: 100%;
    border-radius: .5vw;
}
.link-preview-admin h3{
    font-size: 1vw;
    color: black;
}
.link-preview-admin p{
    font-size: .7vw;
    color: black;
}