.formpayment{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    z-index: 998;
}
.formdataContainer{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    padding-bottom: 5%;
    background: black;
}
.formdataContents{
    background: black;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.productCheckout{
    width: 70%;
}







.productCheckoutContents{
    height: auto;
    width: 100%;
}
.productCheckoutContents ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    list-style: none;
    height: auto;
    width: 100%;
}
.productCheckoutContents ul li{
    border: solid 1px white;
    padding: 1vw;
    height: 15vw;
    width: 19%;
    border-radius: 1vw;
    position: relative;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: 1%;
    margin-bottom: 1%;
    background: black;
}
.copProductDetails{
    height: 3vw;
    width: 100%;
    position: absolute;
    margin-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copProductDetails span{
    height: auto;
    width: 100%;
}
.copProductDetails h5{
    font-size: 0.9vw;
}
.copProductDetails h6{
    font-size: .7vw;
    font-weight: 400;
}
.copDenomination{
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    border-radius: 0.5vw;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}
.copDenomination img{
    height: 2.5vw;
    width: 2.5vw;
    margin: auto 0;
    filter: contrast(100%);
}
.copDenomination img[platform='PC']{
    content: url('../assets/imgs/GamePlatforms/PCGames.png');
}
.copDenomination img[platform='NintendoSwitch']{
    content: url('../assets/imgs/GamePlatforms/NintendoSwitch.png');
}
.copDenomination img[platform='XboxXS']{
    content: url('../assets/imgs/GamePlatforms/XboxXS.png');
}
.copDenomination img[platform='XboxOne']{
    content: url('../assets/imgs/GamePlatforms/XboxOne.png');
}
.copDenomination img[platform='PlayStation4']{
    content: url('../assets/imgs/GamePlatforms/PS4.png');
}
.copDenomination img[platform='PlayStation5']{
    content: url('../assets/imgs/GamePlatforms/PS5.png');
}
.copDenomination h5{
    color: black;
}
.copDenomination p{
    color: black;
    font-size: 0.5vw;
}
.productCheckoutContents ul li section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.productCheckoutContents ul li section p{
    font-size: .9vw;
}
.loadingCartCheckout{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.loadingCartCheckout h3{
    animation: bounce2 2s ease infinite;
    line-height: 2vw;
}
.loadingCartCheckout h6{
    font-size: .9vw;
    font-weight: 400;
}
#payment-message{
    text-align: center;
    margin: .5vw 0 0 0;
}
#payment-message p{
    font-size: .7vw;
    font-weight: 500;
    color: #fe87a1;
}




.transactionPaymentInfo{
    width: 26%;
    height: auto;
    padding: 0 0.5%;
}
.checkoutProductsummary{
    height: auto;
    width: 100%;
    margin-bottom: 10%;
}
.checkoutProductsummary h5{
    text-align: center;
    font-size: 1vw;
}
.checkoutProductsummary ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    columns: 3;
    list-style: none;
    margin: 5% 0;
}
.checkoutProductsummary ul li{
    padding: 2%;
    border: .1vw solid white;
    width: 32%;
    border-radius: .5vw;
}
.checkoutProductsummary ul li p{
    font-size: 1vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}
#gsIcon{
    margin-right: 10%;
}
.totalpriceDatasummary{
    text-align: right;
}
.totalpriceDatasummary p{
    font-size: 0.8vw;
}
.totalpriceDatasummary h2{
    font-size: 2vw;
}
.totalpriceDatasummary{
    margin: 1vw 0 0 0;
}


.formdataContents form{
    border-radius: 1vw;
    box-sizing: border-box;
    margin-top: 5%;
    padding-bottom: 15%;
}
.paymentSetupBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.paymentSetupBtn button{
    width: 48%;
    height: 3.5vw;
    padding: 5% 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #30313d;
    border-radius: 5px;
    border: 1px solid #5c5e748c;
    color: white;
    cursor: pointer;
}
.paymentSetupBtn button .loader#loader{
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side, gray 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, gray);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: spinner113 1s infinite linear;
}
.paymentSetupBtn button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}
#payment-form p{
    font-size: .8vw;
    margin: 5% 0;
}

















@media screen and (max-width: 500px){
    .formdataContainer{
        padding: 5%;
    }
    .formdataContents{
        display: block;
    }
    .productCheckout{
        width: 100%;
    }
    .transactionPaymentInfo{
        width: 100%;
        height: auto;
    }
    .paymentSetupBtn button{
        width: 48%;
        height: 5vw;
        padding: 5% 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #30313d;
        border-radius: 5px;
        border: 1px solid #5c5e748c;
        color: white;
        cursor: pointer;
    }
    .productCheckoutContents{
        display: none;
    }

    .loadingCartCheckout h3{
        font-size: 15vw;
    }
    .loadingCartCheckout h6{
        font-size: 3vw;
    }

    #payment-message{
        margin: 3vw 0 0 0;
    }
    #payment-message p{
        font-size: 3vw;
    }




    .checkoutProductsummary{
        margin: 1vw 0 0 0;
    }
    .checkoutProductsummary h5{
        font-size: 4vw;
    }
    .checkoutProductsummary ul li{
        padding: 3vw;
        border-radius: 3vw;
    }
    .checkoutProductsummary ul li p{
        font-size: 5vw;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-weight: 700;
    }
    .totalpriceDatasummary p{
        font-size: 3vw;
    }
    .totalpriceDatasummary h2{
        font-size: 8vw;
    }
    .totalpriceDatasummary{
        margin: 3vw 0 0 0;
        padding: 0 1vw;
    }
    #payment-form p{
        text-align: center;
        font-size: 3vw;
    }
}