h1, h2, h3, h4, h5, h6, p{
    color: white;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.highlights{
    height: auto;
    width: 100%;
    background: black;
    position: relative;
}






section.highlightsPageContainer.top{
    height: auto;
    width: 100%;
    padding: 0 25%;
    padding-top: 7vw;
}
.hlsPageContent.top{
    height: auto;
    width: 100%;
}
.hldpcTop1{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.hldpct1{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hldpct1 div{
    height: 3vw;
    width: 3vw;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    border: solid 2px white;
}
.hldpct1 div img{
    height: 100%;
    width: 100%;
}
.hldpct1 input{
    height: 3vw;
    width: 85%;
    padding: 2%;
    border-radius: 50px;
    border: solid 2px white;
    outline: none;
    font-size: 0.9vw;
    background: none;
}
.hldpct1 button{
    height: 3vw;
    width: 5%;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 2.5vw;
    cursor: pointer;
}
.hldpcTop2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.hldpcTop2.mobile{
    display: none;
}
.hldpcT2.addStory{
    height: 15vw;
    width: 18%;
    border: solid 2px white;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 2%;
    cursor: pointer;
}
.hldpcT2.addStory img{
    height: 100%;
}
.hldpcT2.addStory span{
    height: 5vw;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: white;
    text-align: center;
    padding: 7% 0;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.hldpcT2.stories{
    height: 15vw;
    width: 82%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.hldpcT2.stories.public{
    width: 100%;
}
.hldpcT2.stories.public div{
    width: 19%;
}
.hldpcT2.stories div{
    height: 15vw;
    width: 23%;
    border: solid 2px white;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.hldpcT2.stories div span{
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 0.5vw;
    left: 0.5vw;
    border: solid 2px white;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    overflow: hidden;
}
.hldpcT2.stories div span img{
    height: 100%;
}
.hldpcT2.stories div img{
    height: 100%;
}



section.highlightsPageContainer.mid{
    height: auto;
    width: 100%;
    padding: 1% 25%;
    position: relative;
}


.hlsPageContentDelete{
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1% 20%;
    animation: fade-out 5s linear;
}
.hlsPageContentDelete div{
    padding: 2% 3%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: red;
}




.hlspcmLoaderContainer{
    height: auto;
    width: 100%;
    padding: 3%;
    margin-bottom: 2%;
    border-radius: 1vw;
    background: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 10px black;
    position: relative;
}
.hlspcmDummy{
    height: auto;
    width: 100%;
    margin-bottom: 2%;
    border: solid 2px black;
    padding: 2%;
    border-radius: 1vw;
}
.hldpcMid1ProfileDummy{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.hldpcMid1ProfileDummy div{
    height: 3vw;
    width: 3vw;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 3%;
    background: 
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #808080;
    background-size:300% 100%;
    animation: l1 1s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hldpcMid1ProfileDummy span{
    width: 80%;
}
.hldpcMid1ProfileDummy span h6{
    height: 1.2vw;
    width: 50%;
    background: 
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #808080;
    background-size:300% 100%;
    animation: l1 1s infinite linear;
}
.hldpcMid1ProfileDummy span p{
    height: 0.7vw;
    width: 30%;
    margin-top: 1%;
    background: 
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #808080;
    background-size:300% 100%;
    animation: l1 1s infinite linear;
}
.hldpcMid1PostTextDummy{
    height: auto;
    width: 100%;
    margin-top: 3%;
}
.hldpcMid1PostTextDummy p{
    height: 0.7vw;
    width: 100%;
    margin-top: 1%;
    background: 
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #808080;
    background-size:300% 100%;
    animation: l1 1s infinite linear;
}
.hldpcMid1PostImgDummy{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    background: 
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #808080;
    background-size:300% 100%;
    animation: l1 1s infinite linear;
}







.hlsPageContent.mid{
    height: auto;
    width: 100%;
    padding: 3%;
    border-radius: 1vw;
    background: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 10px black;
}
.hldpcMid1{
    height: auto;
    width: 100%;
    margin-bottom: 2%;
    border: solid 2px black;
    padding: 2%;
    border-radius: 1vw;
}
.hldpcMid1User{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hldpcMid1Profile{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.hldpcMid1Profile div{
    height: 3vw;
    width: 3vw;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 3%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hldpcMid1Profile div img{
    height: 100%;
}
.hldpcMid1Profile span{
    width: 80%;
}
.hldpcMid1Profile span h6 .faIcons{
    margin-left: 1%;
}
.hldpcMid1Profile span h6 .faIcons.gold{
    color: gold;
}
.hldpcMid1Profile span h6 .faIcons.blue{
    color: royalblue;
}
.hldpcMid1Option{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.hldpcMid1Option button{
    height: 3vw;
    width: 3vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
    line-height: 1vw;
    cursor: pointer;
}
.hldpcMid1PostText{
    height: auto;
    width: 100%;
    margin-top: 3%;
}
.hldpcMid1PostText p{
    white-space: pre-line;
    line-height: 1.4vw;
}
.hldpcMid1PostImg{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
}
.hldpcMid1PostImg img#hldpcMid1pBG{
    width: 100%;
    position: absolute;
    filter: blur(15px);
}
.hldpcMid1PostImg img#hldpcMid1pImg{
    height: 100%;
    position: relative;
    z-index: 2;
}
.hldpcMid1PostYT{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
}
.hldpcMid1PostYT .youtube-embed{
    height: 100%;
    width: 100%;
    border-radius: 1vw;
}












@media screen and (max-width: 500px){
    section.highlightsPageContainer.top{
        height: auto;
        width: 100%;
        padding: 0 5%;
        padding-top: 15vh;
    }
    .hldpcTop1{
        margin-bottom: 5%;
    }
    .hldpct1 div{
        height: 10vw;
        width: 10vw;
    }
    .hldpct1 input{
        height: 10vw;
        width: 75%;
        padding: 2% 5%;
        font-size: 3vw;
    }
    .hldpct1 button{
        height: 10vw;
        width: 10%;
        font-size: 8vw;
    }
    .hldpcTop2{
        margin-bottom: 5%;
    }
    .hldpcTop2.website{
        display: none;
    }
    .hldpcTop2.mobile{
        display: flex;
    }
    .hldpcT2.addStory{
        height: 35vw;
        width: 24%;
        border-radius: 2vw;
        margin-right: 0;
    }
    .hldpcT2.addStory span{
        height: auto;
        width: 100%;
    }
    .hldpcT2.addStory span h5{
        font-size: 5vw;
    }
    .hldpcT2.addStory span p{
        font-size: 2.3vw;
    }


    .hldpcT2.stories{
        height: 35vw;
        width: 74%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .hldpcT2.stories.public{
        width: 100%;
    }
    .hldpcT2.stories.public div{
        width: 24%;
    }
    .hldpcT2.stories div{
        height: 35vw;
        width: 32%;
        border-radius: 2vw;
    }
    .hldpcT2.stories div span{
        position: absolute;
        height: 8vw;
        width: 8vw;
        top: 1vw;
        left: 1vw;
    }







    section.highlightsPageContainer.mid{
        height: auto;
        width: 100%;
        padding: 0;
    }
    .hlsPageContent.mid{
        border-radius: 0;
        background: none;
        box-shadow: none;
    }

    .hlsPageContentDelete{
        justify-content: center;
        padding: 5%;
    }
    .hlsPageContentDelete div{
        padding: 3% 5%;
        border-radius: 50px;
    }
    .hlsPageContentDelete div p{
        font-size: 2.5vw;
    }
    .hlspcmLoaderContainer{
        border-radius: 0;
        background: none;
        box-shadow: none;
    }
    .hlspcmDummy{
        padding: 5% 3%;
        margin-bottom: 1%;
        border-radius: 2vw;
        background: rgba(30, 30, 30, 0.8);
    }
    .hldpcMid1ProfileDummy{
        width: 70%;
    }
    .hldpcMid1ProfileDummy div{
        height: 10vw;
        width: 10vw;
        margin-right: 3%;
    }
    .hldpcMid1ProfileDummy span{
        width: 80%;
    }
    .hldpcMid1ProfileDummy span h6{
        height: 3.5vw;
        width: 50%;
    }
    .hldpcMid1ProfileDummy span p{
        height: 3vw;
        width: 30%;
        margin-top: 2%;
    }
    .hldpcMid1PostTextDummy{
        margin-top: 5%;
    }
    .hldpcMid1PostTextDummy p{
        height: 3vw;
    }
    .hldpcMid1PostImgDummy{
        height: 50vw;
        width: 100%;
        margin-top: 5%;
        border-radius: 2vw;
    }





    .hldpcMid1{
        padding: 5% 3%;
        margin-bottom: 1%;
        border-radius: 2vw;
        background: rgba(30, 30, 30, 0.8);
    }
    .hldpcMid1Profile{
        width: 70%;
    }
    .hldpcMid1Profile div{
        height: 10vw;
        width: 10vw;
        margin-right: 3%;
    }
    .hldpcMid1Profile span h6{
        font-size: 3.5vw;
    }
    .hldpcMid1Profile span p{
        font-size: 3vw;
        margin-top: 1%;
    }
    .hldpcMid1Option{
        width: 30%;
    }
    .hldpcMid1Option button{
        height: 5vw;
        width: auto;
        margin-left: 15%;
        font-size: 5vw;
    }
    .hldpcMid1PostText{
        margin-top: 5%;
    }
    .hldpcMid1PostText p{
        font-size: 3vw;
        line-height: 4.5vw;
    }
    .hldpcMid1PostImg{
        height: auto;
        width: 100%;
        margin-top: 5%;
        border-radius: 2vw;
    }
    .hldpcMid1PostImg img#hldpcMid1pImg{
        height: auto;
        width: 100%;
    }
    .hldpcMid1PostImg img#hldpcMid1pBG{
        display: none;
    }
    .hldpcMid1PostYT{
        height: 50vw;
        margin-top: 5%;
        border-radius: 2vw;
    }


}












