h1, h2, h3, h4, h5, h6, p{
    color: white;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.home{
    height: auto;
    width: 100%;
    background: black;
    padding-bottom: 5vw;
}

/*----- Landing Section -----*/



section.landingPageContainer.top{
    height: 36vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
section.landingPageContainer.top video{
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.lndPageContent.top{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    background: 
        linear-gradient(transparent, black 90%);
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 10%;
}
.lndpcTop.right{
    height: auto;
    width: 40%;
}
.lndpcTop.right img{
    height: 5vw;
}
.lndpcTop.right p{
    margin: 3% 0;
}
.lndpcTop.right span{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: right;
}
.lndpcTop.right span a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1% 5%;
    border-radius: 50px;
    border: solid 2px white;
    font-size: 0.9vw;
    opacity: 50%;
}
.lndpcTop.right span a:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 10px white;
}





section.landingPageContainer.mid{
    height: auto;
    width: 100%;
    padding: 5% 10%;
    padding-top: 2%;
    margin-top: -1%;
    background: black;
    position: relative;
    z-index: 2;
}
.lndPageContent.mid1{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.lndPageContent.mid1 form{
    height: auto;
    width: 100%;
    margin-bottom: 2%;
}
.lndpcSearch{
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    padding: 0.7% 2%;
    border-radius: 1vw;
    border: solid 2px white;
}
.lndpcSearch h6{
    margin-right: 3%;
    font-size: 1vw;
    line-height: 0.7vw;
}
.lndpcSearch input{
    width: 90%;
    background: none;
    border: none;
    outline: none;
    color: white;
}
.lndpcFeatures{
    height: auto;
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.lndpcFeatures a{
    padding: 3% 4%;
    border: solid 2px white;
    margin-left: 3%;
    border-radius: 0.5vw;
}
.lndpcFeatures a h6{
    font-size: 1vw;
    line-height: 0.7vw;
}



.searchedItemresults{
    margin-top: 2%;
}
.seachContentsItems{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}
.searchItems-contents h3{
    font-size: 2vw;
    margin: 2% 0;
    display: flex;
    justify-content: left;
    align-items: center;
}
.searchItems-contents h3 .faIcons{
    margin-right: 1%;
}
.searchContentsItems section{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: left;
}
.searchContentsItems section li{
    color: white;
    height: 15vw;
    width: 12.6%;
    padding: .5vw;
    border: solid 2px white;
    border-radius: 1vw;
    break-inside: avoid;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0.8%;
}
.searchContentsItems section li h1{
    font-size: 1vw;
    position: absolute;
    width: 100%;
    padding: 0 1vw;
    text-align: center;
}















.lndPageContent.mid2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lndpcMid2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lndpcMid2 div{
    height: 5vw;
    width: 32%;
    position: relative;
    text-align: right;
    padding: 1% 3%;
    border-radius: 1vw;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
}
.lndpcMid2 div:hover{
    box-shadow: 0 0 20px white;
    transition: 400ms ease;
}
.lndpcMid2 div#lndpcTrending{
    background: url('../assets/imgs/LandingImg/lndImg01.png') no-repeat left;
    background-size: cover;
}
.lndpcMid2 div#lndpcHot{
    background: url('../assets/imgs/LandingImg/lndImg02.png') no-repeat left;
    background-size: cover;
}
.lndpcMid2 div#lndpcClassic{
    background: url('../assets/imgs/LandingImg/lndImg03.png') no-repeat left;
    background-size: cover;
}

.lndPageContent.mid3{
    height: auto;
    width: 100%;
    margin-bottom: 5%;
}
.lndpcFeaturedGames{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10%;
}
.lndpcfgWeb.left{
    height: 35vw;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.lndpcdgwlSlider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.lndpcdgwlSlider.active {
    opacity: 1;
}
.lndpcfgwl{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    position: relative;
    transition: opacity 1s ease-in-out;
}
.lndpcfgwlImage{
    height: auto;
    width: 80%;
    border-radius: 1vw;
    box-shadow: 0 0 20px gray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.lndpcfgwlImage img{
    height: auto;
    width: 100%;
}
.lndpcfgwlShadow{
    position: absolute;
    bottom: 0;
    height: 30vw;
    width: 100%;
    background: linear-gradient(transparent, black 70%);
    background-size: cover;
}
.lndpcfgwlDetails{
    height: auto;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    left: 0;
}
.lndpcfgwlDetails img{
    height: auto;
    width: 100%;
}
.lndpcfgWeb.right{
    height: auto;
    width: 60%;
    text-align: right;
}
.lndpcfgWeb.right h5{
    margin-bottom: 1%;
}
.lndpcfgWeb.right h3{
    line-height: 3.5vw;
}
.lndpcfgWeb.right p{
    margin: 5% 0;
    padding-left: 10%;
}
.lndpcMarqueeContainer{
    height: auto;
    width: 100%;
    margin: 3% 0;
    white-space: nowrap;
    overflow: hidden;
}
.lndpcMarqueeContainer img{
    height: 3vw;
    margin: 0 1%;
    padding: 0.5% 1%;
    display: inline-block;
    white-space: nowrap;
    opacity: 30%;
    border-radius: 50px;
    border: solid 2px white;
    animation: marquee 20s linear infinite;
}
.lndpcMarqueeContainer img:hover{
    opacity: 100%;
}
.lndpcfgWeb.right a{
    color: white;
    text-decoration: none;
    padding: 1% 5%;
    border-radius: 50px;
    border: solid 2px white;
    font-size: 0.9vw;
    opacity: 50%;
}
.lndpcfgWeb.right a:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 10px white;
}







.lndPageContent.mid4{
    height: auto;
    width: 100%;
    margin: 10% 0;
}
.lndpcmid4Container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lndpcm4Content.left{
    height: auto;
    width: 40%;
}
.lndpcm4Content.left h4{
    font-size: 2.5vw;
}
.lndpcm4Content.left p{
    margin: 2% 0;
}
.lndpcm4lBtns{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3% 0;
}
.lndpcm4lBtns a{
    margin-right: 3%;
    color: white;
    text-decoration: none;
    padding: 1% 5%;
    border-radius: 50px;
    border: solid 2px white;
    font-size: 0.9vw;
    opacity: 50%;
}
.lndpcm4lBtns a:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 10px white;
}
.lndpcm4Content.right{
    height: auto;
    width: 50%;
    position: relative;
    background: url('../assets/imgs/Shadow.png') no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lndpcm4Content.right img#lndpcm4crMobile{
    height: 40vw;
    animation: bounce2 5s infinite linear;
}









.lndPageContent.mid5{
    height: auto;
    width: 40%;
}
.lndpcm4Content.left #lndpcm4crMobileMob{
    display: none;
}
.lndpcm4cStats{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3% 0;
}
.lndpcm4cStats div{
    text-align: center;
    padding: 3% 5%;
    margin-right: 5%;
    border-radius: 1vw;
    border: solid 2px white;
}
.lndpcm4cStats div h3{
    font-size: 3vw;
}
.lndpcm4Content.left h4{
    font-size: 2.5vw;
}
.lndpcm4Content.left p{
    margin: 2% 0;
}
.lndpcm4lBtns{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3% 0;
}
.lndpcm4lBtns a{
    margin-right: 3%;
    color: white;
    text-decoration: none;
    padding: 1% 5%;
    border-radius: 50px;
    border: solid 2px white;
    font-size: 0.9vw;
    opacity: 50%;
}
.lndpcm4lBtns a:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 10px white;
}
.lndpcm4Content.right{
    height: auto;
    width: 50%;
    position: relative;
    background: url('../assets/imgs/Shadow.png') no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lndpcm4Content.right img#lndpcm4crMobile{
    height: 40vw;
    animation: bounce2 5s infinite linear;
}









.lndPageContent.mid5{
    height: auto;
    width: 100%;
}
.lndPageContent.mid5 h4{
    display: flex;
    justify-content: left;
    align-items: center;
}
.lndPageContent.mid5 h4 .faIcons {
    margin-right: 1%;
    color: gold;
}
.lndpcmid5Giftcard{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2% 0;
}
.lndpcfgc {
    height: 20vw;
    width: 19%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}
.lndpcmid5Container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: top;
    padding: 2% 0;
    overflow-x: scroll;
    position: relative;
}
.lndpcm5Content{
    height: auto;
    width: 100vw;
    padding: 1%;
    background: rgba(40, 40, 40, 0.5);
    border-radius: 1vw;
    box-shadow: 0 0 10px rgb(50, 50, 50);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 1vw;
    text-decoration: none;
    transition: 400ms ease;
}
.lndpcm5Content:hover{
    transition: 400ms ease;
    box-shadow: 0 0 20px gray;
}
.lndpcm5c.left{
    height: auto;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lndpcm5c.left img{
    height: 20vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px gray;
}
.lndpcm5c.right{
    height: auto;
    width: 18vw;
}
.lndpcm5c.right h3{
    height: 7vw;
    line-height: 3vw;
    font-size: 2.5vw;
    display: flex;
    justify-content: left;
    align-items: center;
}
.lndpcm5c.right p{
    margin: 2% 0;
}
.lndpcfgcDummy{
    height: 20vw;
    width: 19%;
    overflow: hidden;
    position: relative;
    border-radius: 1vw;
    background: 
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #808080;
    background-size:300% 100%;
    animation: l1 1s infinite linear;
}
.lndpcfgcDummy.mob{
    display: none;
}













.lndPageContent.mid6{
    height: auto;
    width: 100%;
    margin: 5% 0;
}
.lndPageContent.mid6 h4{
    display: flex;
    justify-content: left;
    align-items: center;
}
.lndPageContent.mid6 h4 .faIcons {
    margin-right: 1%;
    color: orange;
}
.lndpcFeaturedCrypto{
    height: auto;
    width: 100%;
    margin-top: 3%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lndpcFeaturedCrypto img{
    height: auto;
    width: 100%;
}
.lndpcFeaturedCrypto div{
    height: auto;
    width: 50%;
}
.lndpcfCrypto{
    width: 40%;
    padding-left: 10%;
}
.lndpcfCrypto p{
    margin-bottom: 5%;
}
.lndpcfCrypto a{
    color: white;
    text-decoration: none;
    padding: 1% 5%;
    border-radius: 50px;
    border: solid 2px white;
    font-size: 0.9vw;
    opacity: 50%;
}
.lndpcfCrypto a:hover{
    box-shadow: 0 0 10px white;
    opacity: 100%;
    transition: 400ms ease;
    background: white;
    color: black;
}




.lndPageContent.mid7{
    height: auto;
    width: 100%;
    margin: 15% 0;
}
.lndpcmid7Container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lndpcmid7content.left{
    height: auto;
    width: 40%;
}

.lndpcmid7content.left img{
    height: 8vw;
}
.lndpcmid7content.left p{
    margin-bottom: 5%;
}
.lndpcmid7content.left a{
    color: white;
    text-decoration: none;
    padding: 1% 5%;
    border-radius: 50px;
    border: solid 2px white;
    font-size: 0.9vw;
    opacity: 50%;
}
.lndpcmid7content.left a:hover{
    box-shadow: 0 0 10px white;
    opacity: 100%;
    transition: 400ms ease;
    background: white;
    color: black;
}
.lndpcmid7content.right{
    height: auto;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lndpcmid7content.right img{
    height: auto;
    width: 100%;
}















.lndPageContent.mid8{
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 25%;
}





@keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes fade-in-down2 {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
@keyframes elastic-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}
@keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes fade-out-right {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(20px);
    }
}
@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes b2 {
    100%  {background-position:100% 0,100% 100%,0 100%,0 0,center}
}
@keyframes l1 {
    0% {background-position: right}
}
@keyframes l2 {
    to{transform: rotate(.5turn)}
}
@keyframes spinner113{ 
    100%{transform: rotate(1turn)}
}
@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}












@media screen and (max-width: 500px){
    section.landingPageContainer.top{
        height: auto;
        width: 100%;
        padding-top: 12vh;
    }
    section.landingPageContainer.top video{
        height: auto;
        width: 100%;
        position: absolute;
        top: 12vh;
        left: 0;
        z-index: 1;
    }
    .lndPageContent.top{
        height: auto;
        width: 100%;
        padding: 10%;
        background: 
            linear-gradient(transparent, black 90%);
        background-size: cover;
    }
    .lndpcTop.right{
        height: auto;
        width: 100%;
    }
    .lndpcTop.right img{
        height: 10vw;
        margin: 0 auto;
        display: flex;
    }
    .lndpcTop.right p{
        font-size: 2.3vw;
    }
    .lndpcTop.right span a{
        padding: 1% 10%;
        font-size: 3vw;
        opacity: 100%;
    }


    section.landingPageContainer.mid{
        padding: 5%;
    }
    .lndPageContent.mid1{
        display: none;
    }
    .lndPageContent.mid2{
        display: none;
    }
    .lndPageContent.mid3{
        margin: 5% 0;
    }
    .lndpcFeaturedGames{
        margin: 0;
        display: block;
    }
    .lndpcfgWeb.left{
        height: 105vw;
        width: 100%;
    }
    .lndpcfgwlImage{
        height: auto;
        width: 70%;
        border-radius: 3vw;
        box-shadow: 0 0 30px gray;
    }
    .lndpcfgwlDetails p{
        font-size: 3vw;
    }
    .lndpcfgWeb.right{
        width: 100%;
        text-align: center;
    }
    .lndpcfgWeb.right h5{
        font-size: 3vw;
    }
    .lndpcfgWeb.right h3{
        line-height: 8vw;
        font-size: 8vw;
    }
    .lndpcfgWeb.right p{
        margin: 3% 0;
        padding-left: 0%;
        font-size: 3vw;
    }
    .lndpcMarqueeContainer img{
        height: 10vw;
    }
    .lndpcfgWeb.right a{
        padding: 1% 10%;
        font-size: 3vw;
        opacity: 100%;
    }


    .lndPageContent.mid4{
        margin: 30% 0;
    }
    .lndpcmid4Container{
        display: block;
    }
    .lndpcm4Content.left{
        height: auto;
        width: 100%;
        text-align: center;
    }
    .lndpcm4Content.left #lndpcm4crMobileMob{
        display: block;
        height: 70vw;
        margin: 0 auto;
        margin-bottom: 10%;
    }
    .lndpcm4cStats{
        justify-content: space-evenly;
        margin: 5% 0;
    }
    .lndpcm4cStats div{
        text-align: center;
        padding: 3% 5%;
        margin-right: 0%;
        border-radius: 3vw;
    }
    .lndpcm4Content.left h4{
        font-size: 4vw;
    }
    .lndpcm4Content.left h3{
        font-size: 8vw;
    }
    .lndpcm4Content.left p{
        margin: 2% 0;
        font-size: 3vw;
    }
    .lndpcm4lBtns{
        justify-content: center;
    }
    .lndpcm4lBtns a{
        margin: 0 3%;
        padding: 1% 10%;
        font-size: 3vw;
        opacity: 100%;
    }
    .lndpcm4Content.right{
        display: none;
    }


    .lndPageContent.mid5 h4{
        font-size: 4vw;
    }
    .lndpcm5Content{
        border-radius: 3vw;
        margin: 0;
        margin-right: 5%;
    }
    .lndpcm5Content p{
        font-size: 2.3vw;
    }
    .lndpcm5c.left img{
        height: 50vw;
        border-radius: 3vw;
    }
    .lndpcm5c.right{
        width: 50vw;
    }
    .lndpcm5c.right h3{
        height: 15vw;
        line-height: 6vw;
        font-size: 5vw;
    }
    .lndpcm5c.right p{
        font-size: 2.5vw;
    }
    .lndpcfgamesDummy{
        height: 60vw;
        width: 48%;
        margin: 1%;
        border-radius: 2vw;
    }
    .lndpcfgPlatformDummy{
        height: 15vw;
        width: 15vw;
        top: 1.5vw;
        left: 1.5vw;
        border-radius: 2vw;
    }
    .lndpcfgcDummy.web{
        display: none;
    }















    .lndPageContent.mid6 h4{
        font-size: 4vw;
    }
    .lndpcFeaturedCrypto{
        display: block;
    }
    .lndpcFeaturedCrypto div{
        height: auto;
        width: 100%;
    }
    .lndpcfCrypto{
        width: 100%;
        padding-left: 0%;
        text-align: center;
    }
    .lndpcfCrypto h3{
        font-size: 5vw;
    }
    .lndpcfCrypto h6{
        font-size: 3vw;
    }
    .lndpcfCrypto p{
        font-size: 2.3vw;
    }
    .lndpcfCrypto a{
        padding: 1% 10%;
        font-size: 3vw;
        opacity: 100%;
    }






    .lndpcmid7Container{
        display: block;
        margin: 30% 0;
    }
    .lndpcmid7content.left{
        text-align: center;
        width: 100%;
    }
    .lndpcmid7content.left img{
        height: 20vw;
    }
    .lndpcmid7content.left p{
        font-size: 2.3vw;
        margin-bottom: 5%;
    }
    .lndpcmid7content.left a{
        padding: 1% 10%;
        font-size: 3vw;
        opacity: 100%;
    }
    .lndpcmid7content.right{
        display: none;
    }




    .lndPageContent.mid8 h4{
        font-size: 5vw;
    }
    .lndPageContent.mid8 h5{
        font-size: 4vw;
    }
    .lndPageContent.mid8 br{
        display: none;
    }
    .lndPageContent.mid8 p{
        font-size: 2.3vw;
        margin-top: 3%;
    }










}