h1, h2, h3, h4, h5, h6, p{
    color: white;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.marketplace{
    height: auto;
    width: 100%;
    background: black;
    position: relative;
}





section.marketplacePageContainer.top{
    height: 41vw;
    /* height: auto; */
    width: 100%;
    padding: 4vw 10%;
    padding-bottom: 0;
    background: 
        linear-gradient(transparent, black 80%),
        url('../assets/imgs/13551.png') no-repeat center;
    background-size: cover;
}
section.marketplacePageContainer.top h4#mppcth4Title{
    display: flex;
    justify-content: left;
    align-items: center;
}
section.marketplacePageContainer.top h4#mppcth4Title .faIcons{
    margin-right: 1%;
}
.mpPageContentTopNav{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
}
.mppctn.left{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    padding: 0.7% 2%;
    border-radius: 1vw;
    border: solid 2px white;
}
.mppctn.left h6{
    margin-right: 3%;
    font-size: 1vw;
    line-height: 0.7vw;
}
.mppctn.left input{
    width: 90%;
    background: none;
    border: none;
    outline: none;
    color: white;
}
.mppctn.right{
    height: auto;
    width: 35%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mppctn.right span{
    width: 20%;
    margin-left: 5%;
    cursor: pointer;
}
.mppctn.right span h6{
    font-size: 1.2vw;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mppctn.right span:hover h6{
    color: gold;
    transition: 400ms ease;
}
.mppctn.right span h6 .faIcons{
    margin-left: 10%;
    font-size: 2vw;
}








.mpPageContentTop{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}
.mppContentTop{
    height: auto;
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
    cursor: pointer;
}
.mppContentTop:hover{
    transition: 400ms ease;
    box-shadow: 0 0 10px white;
}
.mppctl.left{
    height: 22vw;
    width: 40%;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
    position: relative;
}
.mppctlMetascore{
    height: auto;
    padding: 3% 5%;
    border-radius: 1vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    border: solid 2px white;
    text-align: center;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.mppctlMetascore p{
    font-size: 0.7vw;
}
.mppctl.left .loader{
    width: 80px;
    aspect-ratio: 1;
    border: 10px solid #24242400;
    background: 
        radial-gradient(farthest-side,#fff 98%,rgba(255, 255, 255, 0.2) ) 0    0/20px 20px,
        radial-gradient(farthest-side,#fff 98%,rgba(255, 255, 255, 0.2) ) 100% 0/20px 20px,
        radial-gradient(farthest-side,#fff 98%,rgba(255, 255, 255, 0.2)) 100% 100%/20px 20px,
        radial-gradient(farthest-side,#fff 98%,rgba(255, 255, 255, 0.2) ) 0 100%/20px 20px,
        linear-gradient(#fff 0 0) center/40px 40px,
        #000;
    background-repeat:no-repeat;
    filter: blur(4px) contrast(10);
    animation: b2 0.8s infinite;
}
.mppctl.left img{
    height: 100%;
    width: 100%;
}
.mppctl.right{
    height: auto;
    width: 60%;
    padding: 3% 5%;
}
.mppctl.right h4{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 5vw;
    font-size: 2.3vw;
    line-height: 2.3vw;
}
.mppctl.right h4#mppctlLoadTitle{
    background: rgba(65, 65, 65, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1vw;
}
.mppctl.right h6{
    width: 100%;
    font-weight: 400;
    margin-top: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mppctl.right h6 .faIcons{
    margin-right: 2%;
    color: red;
}
.mppctl.right p{
    height: 7.5vw;
    margin-top: 3%;
    font-size: 0.7vw;
    line-height: 0.9vw;
}
.mppctl.right p#mppctlLoadTitle{
    background: rgba(65, 65, 65, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1vw;
}
.mppctl.right div{
    height: 3vw;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5%;
}
.mppctl.right div button{
    padding: 1% 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.mppctl.right div button#viewGameDetails,
.mppctl.right div a#viewGameDetails{
    width: auto;
    text-decoration: none;
    padding: 3% 8%;
    border-radius: 50px;
    margin-right: 3%;
    border: solid 2px white;
    font-size: 0.7vw;
    color: white;
}
.mppctl.right div button#viewGameDetails:hover,
.mppctl.right div a#viewGameDetails:hover{
    background: white;
    color: black;
    transition: 400ms ease;
}
.mppctl.right div button#addToFavorite{
    font-size: 2vw;
}




section.marketplacePageContainer.mid{
    height: auto;
    width: 100%;
    padding: 1vw 10%;
    padding-bottom: 10vw;
}
.mpPageContentMid1{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 10%;
}
.mppContentMid1{
    height: 20vw;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    transition: 400ms ease;
    cursor: pointer;
}
.mppContentMid1:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px white;
    transition: 400ms ease;
}
.mppContentMid1 .loader{
    width: 80px;
    aspect-ratio: 1;
    border: 10px solid #24242400;
    background: 
        radial-gradient(farthest-side,#fff 98%,rgba(255, 255, 255, 0.2) ) 0    0/20px 20px,
        radial-gradient(farthest-side,#fff 98%,rgba(255, 255, 255, 0.2) ) 100% 0/20px 20px,
        radial-gradient(farthest-side,#fff 98%,rgba(255, 255, 255, 0.2)) 100% 100%/20px 20px,
        radial-gradient(farthest-side,#fff 98%,rgba(255, 255, 255, 0.2) ) 0 100%/20px 20px,
        linear-gradient(#fff 0 0) center/40px 40px,
        #000;
    background-repeat:no-repeat;
    filter: blur(4px) contrast(10);
    animation: b2 0.8s infinite;
}
.mppContentMid1 img{
    height: 100%;
    width: 100%;
}
.mppcmMetascore{
    height: auto;
    padding: 3% 5%;
    border-radius: 1vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    border: solid 2px white;
    text-align: center;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.mppcmMetascore p{
    font-size: 0.7vw;
}
.mppcmNewGames{
    position: absolute;
    top: 0;
    right: -25%;
    height: auto;
    width: 10vw;
    rotate: 45deg;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2% 0;
}
.mppcmNewGames h4{
    font-size: 2vw;
    line-height: 1vw;
}
.mppcmGameDetails{
    height: auto;
    width: 100%;
    padding: 3% 5%;
    border-radius: 0.5vw;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
}
.mppContentMid1:hover .mppcmGameDetails{
    opacity: 1;
    transition: 400ms ease;
}
.mppcmGameDetails h6{
    font-weight: 400;
}
.mppcmGameDetails p{
    height: 4vw;
    font-size: 0.7vw;
    margin: 3% 0;
}
.mppcmGameDetails div{
    height: auto;
    width: 100%;
    margin-top: 10%;
}
.mppcmGameDetails div a{
    height: auto;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 2%;
    border-radius: 50px;
    border: solid 2px white;
    color: white;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 0.7vw;
}
.mppcmGameDetails div a:hover{
    background: white;
    color: black;
    transition: 400ms ease;
}



section.marketplacePageContainer.mid h4#mppcmh4Title{
    display: flex;
    justify-content: left;
    align-items: center;
}
section.marketplacePageContainer.mid h4#mppcmh4Title .faIcons{
    margin-right: 1%;
}
.mpPageContentMid2{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    margin-top: 2%;
}
.mppContentMid2{
    height: 20vw;
    width: 19%;
    margin-bottom: 2%;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    overflow: hidden;
}
.mppContentMid2:hover{
    box-shadow: 0 0 10px white;
    transition: 400ms ease;
}
.mppContentMid2 img{
    height: 100%;
    width: 100%;
}
.mppcm2GamePlatform{
    height: auto;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    padding: 5%;
    border-radius: 0.5vw;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mppcm2GamePlatform img{
    height: 2vw;
}
.mppcm2GamePlatform img[platform='PC']{
    content: url('../assets/imgs/GamePlatforms/PCGames.png');
}
.mppcm2GamePlatform img[platform='NintendoSwitch']{
    content: url('../assets/imgs/GamePlatforms/NintendoSwitch.png');
}
.mppcm2GamePlatform img[platform='XboxXS']{
    content: url('../assets/imgs/GamePlatforms/XboxXS.png');
}
.mppcm2GamePlatform img[platform='XboxOne']{
    content: url('../assets/imgs/GamePlatforms/XboxOne.png');
}
.mppcm2GamePlatform img[platform='PlayStation4']{
    content: url('../assets/imgs/GamePlatforms/PS4.png');
}
.mppcm2GamePlatform img[platform='PlayStation5']{
    content: url('../assets/imgs/GamePlatforms/PS5.png');
}
.mppcm2GameCategory{
    height: auto;
    position: absolute;
    top: 1vw;
    right: 1vw;
}
.mppcm2GameCategory h4 .faIcons{
    display: none;
    color: gold;
    text-shadow: 0 0 20px black;
}
.mppcm2GameCategory h4 .faIcons.Trending{
    display: block;
}
.mppcm2GameCategory h4 .faIcons.Hot{
    display: block;
}
.mppcm2GameCategory h4 .faIcons.Classic{
    display: block;
}
.mppcm2GameCategory h4 .faIcons.Preorder{
    display: block;
}
.mppcm2GamePrice{
    height: auto;
    position: absolute;
    bottom: 7vw;
    left: 0.5vw;
    padding: 2% 5%;
    background: red;
    border-radius: 50px;
    box-shadow: 0 0 20px black;
}
.mppcm2GamePrice p{
    font-size: 0.9vw;
}
.mppcm2GameDiscount{
    height: auto;
    position: absolute;
    bottom: 6.5vw;
    right: 0.5vw;
}
.mppcm2GameDiscount h4{
    color: red;
    text-shadow: 0 0 20px black;
}
.mppcm2GameDetails{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5%;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 30px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0.5vw;
    /* opacity: 0; */
}
/* .mppContentMid2:hover .mppcm2GameDetails{
    opacity: 1;
    transition: 400ms ease;
} */
.mppcm2GameDetails h5{
    height: 2vw;
    font-size: 1vw;
    line-height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mppcm2GameDetails p{
    text-align: center;
    font-weight: 400;
    font-size: 0.7vw;
}
.mppcm2GameDetails div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}
.mppcm2GameDetails div button#mppcm2GDView,
.mppcm2GameDetails div a#mppcm2GDView{
    width: 65%;
    padding: 2% 1%;
    border-radius: 50px;
    border: solid 2px white;
    font-size: 0.7vw;
    background: none;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.mppcm2GameDetails div button#mppcm2GDView:hover,
.mppcm2GameDetails div a#mppcm2GDView:hover{
    background: white;
    color: black;
    transition: 400ms ease;
}
.mppcm2GameDetails div button#mppcm2GDHeart,
.mppcm2GameDetails div button#mppcm2GDCart{
    font-size: 1.8vw;
    line-height: 1vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.mpPageContentMid3{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.mpPageContentMid3 a{
    height: auto;
    width: 32%;
    padding: 2% 3%;
    border-radius: 1vw;
    box-shadow: 0 0 10px gray;
    text-decoration: none;
    text-align: right;
}
.mpPageContentMid3 a:hover{
    box-shadow: 0 0 20px white;
    transition: 400ms ease;
}
.mpPageContentMid3 a.mppcm3TrendingGames{
    background: url('../assets/imgs/LandingImg/lndImg01.png') no-repeat left;
    background-size: cover;
}
.mpPageContentMid3 a.mppcm3HotGames{
    background: url('../assets/imgs/LandingImg/lndImg02.png') no-repeat left;
    background-size: cover;
}
.mpPageContentMid3 a.mppcm3ClassicGames{
    background: url('../assets/imgs/LandingImg/lndImg03.png') no-repeat left;
    background-size: cover;
}
.mpPageContentMid3 a h5{
    display: flex;
    justify-content: right;
    align-items: center;
}
.mpPageContentMid3 a h5 .faIcons{
    margin-right: 3%;
}
.mpPageContentM2ShowMore{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mpPageContentM2ShowMore a{
    width: 20%;
    font-size: 1vw;
    text-decoration: none;
    color: white;
    opacity: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mpPageContentM2ShowMore a .faIcons{
    font-size: 1.2vw;
    margin-right: 5%;
}
.mpPageContentM2ShowMore a:hover{
    opacity: 100%;
    transition: 400ms ease;
}
.mpPageContentMid4{
    height: 32vw;
    width: 100%;
    background: url('../assets/imgs/LandingImg/RobloxCoverImg00.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px gray;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 1vw;
    padding: 2%;
    overflow: hidden;
    position: relative;
}
.mppcm4GiftCard{
    height: auto;
    width: 20%;
    position: absolute;
    top: 1vw;
    left: 1vw;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 30px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1vw;
    padding: 1%;
}
.mppcm4GiftCard img{
    height: auto;
    width: 100%;
    border-radius: 1vw;
    margin: 3% 0;
}
.mppcm4GiftCard h6{
    text-align: center;
}
.mppcm4GiftCard p{
    font-size: 0.7vw;
    text-align: center;
    margin: 3% 0;
}
.mppcm4GiftCard div{
    display: flex;
    justify-content: right;
    align-items: center;
}
.mppcm4GiftCard div button{
    padding: 2% 10%;
    border: solid 2px white;
    border-radius: 50px;
    background: none;
    outline: none;
    font-size: 0.7vw;
    color: white;
    cursor: pointer;
}
.mppcm4GiftCard div button:hover{
    background: white;
    color: black;
    transition: 400ms ease;
}
.mpPageContentMid5{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.mppcm5Join.left{
    height: auto;
    width: 40%;
}
.mppcm5Join.left h3{
    font-size: 3.5vw;
    line-height: 3vw;
}
.mppcm5Join.left h6{
    font-weight: 400;
}
.mppcm5Join.left div{
    height: auto;
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mppcm5Join.left div span{
    width: 23%;
    padding: 2%;
    text-align: center;
    border: solid 2px white;
    border-radius: 1vw;
}
.mppcm5Join.right{
    height: auto;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.mppcm5Roblox{
    height: auto;
    width: 49%;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.mppcm5Roblox img{
    width: 100%;
}
.mppcm5RTitle{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3%;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 30px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.mppcm5RTitle h6{
    margin-bottom: 3%;
}
.mppcm5RTitle p{
    font-size: 0.7vw;
}
.mppcm5RobloxMore{
    height: auto;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: right;
}
.mppcm5RobloxMore button{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 0.7vw;
    opacity: 50%;
    cursor: pointer;
}
.mppcm5RobloxMore button:hover{
    opacity: 100%;
    transition: 400ms ease;
}