@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: 'Bruno Ace SC', cursive; */
h1, h2, h3, h4, h5, h6, p, span{ 
    font-family: "Montserrat", sans-serif;
}
nav{
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.mainNavContainer{
    height: 4vw;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 998;
}
.mainNavContainer hr{
    display: none;
}
.navContainerModal{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navContentModal{
    height: auto;
    box-shadow: 0 0 10px white;
    padding: 2%;
    border-radius: 1vw;
    background: url('../assets/imgs/LoginBackground.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    animation: fade-in-down 800ms ease;
}
.navContentModal.register{
    width: 25%;
    padding: 2%;
}
.navContentModal.login{
    width: 20%;
    padding: 2% 1%;
}
.navContentModal.regRes,
.navContentModal.blocked{
    text-align: center;
}
.navContentModal.regRes h4,
.navContentModal.blocked h4{
    text-shadow: 0 0 50px black;
}
.navContentModal.blocked p{
    padding: 0 10%;
    margin-top: 2%;
    text-shadow: 0 0 50px black;
}
.navContentModal button#closeModalContent{
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 1.5vw;
    cursor: pointer;
    position: absolute;
    top: 1vw;
    right: 1vw;
}
.navRegistrationContent{
    height: auto;
    width: 100%;
    margin: 3% 0;
}
.navRegistrationContent h6{
    text-align: center;
    margin-left: 5%;
    text-shadow: 0 0 10px black;
}
.navRegContents{
    padding: 0 10%;
}
.navRegContents div{
    height: auto;
    width: 100%;
    margin-top: 5%;
    position: relative;
}
.navRegContents div p{
    font-size: 0.7vw;
    color: white;
    margin-bottom: 2%;
}
.navRegContents div input{
    width: 100%;
    padding: 2% 3%;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: solid 2px white;
    outline: none;
    color: white;
    border-radius: 0.5vw;
}
.navRegContents div button.navRefContViewPass{
    position: absolute;
    top: 0;
    right: 2%;
    background: none;
    border: none;
    outline: none;
    color: white;
}
.recaptchaSetup{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recaptchaSetup button{
    width: 50%;
    border: solid 2px white;
    padding: 2% 0;
    background: white;
    border-radius: 50px;
    cursor: pointer;
}
.recaptchaSetup button h6{
    font-weight: 400;
    font-size: 0.9vw;
    margin: 0;
    text-shadow: none;
    color: black;
}
.recaptchaSetup button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: gold;
    box-shadow: 0 0 10px black;
}






.navContentModal.captcha{
    width: 20%;
}
.captchaContainer{
    height: auto;
    width: 100%;
}
.captchaContainer h5{
    text-align: center;
    font-size: 1.2vw;
}
.captchaContent{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
}
.captchaContent div{
    height: 5vw;
    width: 5vw;
    margin: 0.5%;
    border-radius: 1vw;
    overflow: hidden;
    cursor: pointer;
}
.captchaContent div img{
    height: 100%;
}
.captchaContainer button{
    display: flex;
    margin: 0 auto;
    padding: 2% 7%;
    border-radius: 50px;
    background: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
}
.captchaContainer button:hover{
    background: gold;
    color: black;
    transition: 400ms ease;
}





.submitAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.submitAccount button{
    width: 50%;
    border: solid 2px white;
    padding: 2% 0;
    background: white;
    border-radius: 50px;
    cursor: pointer;
}
.submitAccount button h6{
    font-weight: 400;
    font-size: 0.9vw;
    margin: 0;
    text-shadow: none;
    color: black;
}
.submitAccount button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: gold;
    box-shadow: 0 0 10px black;
}
.registrationTCPP{
    text-align: center;
} 
.registrationTCPP div{
    height: 1vw;
    font-style: italic;
}
.registrationTCPP a{
    cursor: pointer;
    color: goldenrod;
}
.errorMessage p{
    height: 1vw;
    font-weight: 600;
    font-style: italic;
    text-shadow: 0 0 10px black;
    text-align: center;
}















.navContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}
.navContainer.mobile{
    height: 6vh;
    display: none;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
.navContainer.mobile button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.navContainer.mobile button h5{
    font-size: 7.5vw;
    line-height: 5vw;
    color: gray;
    opacity: 50%;
}


.navContainer.mobile button.active h5{
    color: white;
    opacity: 100%;
}



/* Website */

.navContent a{
    text-decoration: none;
}
.navContent.left{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navContent.left a{
    display: flex;
    justify-content: left;
    align-items: center;
}
.navContent.left img{
    height: 3vw;
    max-width: 100%;
    margin-right: 5%;
}
.navContent.left img#nclLogoMobile{
    display: none;
}
.navContent.left h5{
    font-weight: 600;
    font-size: 1vw;
}
.navContent.center{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navContent.center a{
    margin-left: 10%;
}
.navContent.center a h6{
    font-weight: 400;
    font-size: 0.7vw;
}
.navContent.right{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userPublicBtn{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.userPublicBtn a#agLoginBtn{
    color: white;
    font-size: 2.3vw;
    line-height: 1vw;
    cursor: pointer;
}
.userPublicBtn a#agRegisterBtn{
    border: solid 2px white;
    padding: 2% 7%;
    border-radius: 50px;
    margin-left: 5%;
    cursor: pointer;
}
.userProfileBtn{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

.userProfileBtn a{
    color: white;
    margin: 0 4%;
}
.userProfileBtn a#agAdminBtn{
    font-size: 2vw;
    line-height: 1vw;
}
.agProfileSelect{
    height: 2vw;
    width: 2vw;
    position: relative;
    overflow: hidden;
    background: white;
    border: solid 2px white;
    border-radius: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.agProfileSelect img{
    height: 100%;
    width: auto;
}
.profileModalContainer{
    position: absolute;
    height: auto;
    width: 70%;
    padding: 5%;
    padding-top: 8%;
    background: black;
    box-shadow: 0 0 10px gray;
    border-radius: 1vw;
    top: 3.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    animation: fade-in-down2 800ms ease;
} 
.profileModalContainer{
    display: flex;
    justify-content: left;
    align-items: center;
}
.profileModalContainer a#agProfileBtn{
    margin: 0;
    margin-bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.profileModalContainer a#agProfileBtn div{
    height: 2vw;
    width: 2vw;
    overflow: hidden;
    border-radius: 50%;
    border: solid 2px white;
    margin-right: 5%;
}
.profileModalContainer a#agProfileBtn div img{
    height: 100%;
}
.profileModalContainer a#agProfileBtn h6{
    width: 75%;
    font-size: 1.2vw;
    overflow: hidden;
}
.profileModalContainer a#agHeartBtn,
.profileModalContainer a#agCartBtn,
.profileModalContainer a#agLogoutBtn{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3% 0;
    padding: 0 3%;
    cursor: pointer;
}
.profileModalContainer a .faIcons{
    margin-right: 5%;
    font-size: 1vw;
}
.navContainer.profileSelect{
    height: 100vh;
    width: 100%;
    padding: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: none;
    justify-content: right;
    align-items: start;
}
.navContentprofileSel{
    position: relative;
    height: 100vh;
    width: 80%;
    background: black;
    animation: fade-in-right 800ms ease;
    padding: 5%;
}
.navContentprofileSel h4{
    font-size: 5vw;
    color: gray;
}
.navContentprofileSel a#agProfileBtn{
    margin: 5% 0;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    background: rgba(45, 45, 45, 0.7);
    padding: 5%;
    border-radius: 3vw;
}
.navContentprofileSel a#agProfileBtn div{
    height: 8vw;
    width: 8vw;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px white;
    margin-right: 4%;
}
.navContentprofileSel a#agProfileBtn div img{
    height: 100%;
}
.navContentprofileSel a#agProfileBtn h6{
    width: 75%;
    font-size: 4vw;
    overflow: hidden;
}
.navContentpsAGElite{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    border: solid 3px gold;
    border-radius: 3vw;
}
.navContentpsAGElite a{
    width: 100%;
    text-decoration: none;
    font-size: 3vw;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
}
.navContentpsAGElite a .faIcons{
    margin-right: 3%;
    font-size: 5vw;
}
.navContentpsMyProfile{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    margin: 10% 0;
}
.navContentpsMyProfile a{
    height: auto;
    width: 49%;
    margin-bottom: 2%;
    background: rgba(45, 45, 45, 0.7);
    padding: 5%;
    border-radius: 3vw;
    text-decoration: none;
}
.navContentpsMyProfile a h4{
    font-size: 7vw;
}
.navContentpsMyProfile a h6{
    font-size: 3vw;
    font-weight: 400;
}
.navContentpsMyLogout{
    height: auto;
    width: 100%;
    background: rgba(45, 45, 45, 0.7);
}
.navContentpsMyLogout button{
    height: auto;
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vw;
    font-size: 3vw;
}
.navContentpsMyLogout button .faIcons{
    margin-right: 3%;
}
















@media screen and (max-width: 500px){
    .mainNavContainer{
        height: auto;
        width: 100%;
        background: black;
    }
    .mainNavContainer hr{
        display: block;
    }
    .navContentModal{
        height: auto;
        width: 80%;
        border-radius: 5vw;
        padding: 8% 2%;
    }
    .navContentModal button#closeModalContent{
        font-size: 5vw;
        top: 4vw;
        right: 4vw;
    }
    .navContentModal.regRes{
        padding: 8% 3%;
    }
    .navContentModal.captcha{
        width: 70%;
    }
    .navContentModal.captcha{
        padding: 8% 2%;
    }
    .navContentModal.regRes h4{
        font-size: 7vw;
    }
    .navContentModal.regRes h6,
    .navRegistrationContent h6{
        font-size: 3vw;
    }
    .navRegContents div p{
        font-size: 2.3vw;
    }
    .navRegContents div input{
        border-radius: 2vw;
    }
    .captchaContainer h5{
        font-size: 4vw;
    }
    .captchaContent{
        padding: 5%;
    }
    .captchaContent div{
        height: 15vw;
        width: 15vw;
        margin: 0.5%;
        border-radius: 3vw;
        overflow: hidden;
        border: solid 2px red;
    }
    .recaptchaSetup button h6{
        font-size: 3vw;
    }
    .submitAccount button h6{
        font-size: 3vw;
    }
    .errorMessage p{
        height: 2.3vw;
    }



    .navContainer{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5% 5%;
    }
    .navContainer.mobile{
        display: flex;
    }
    .navContent.left{
        width: 40%;
    }
    .navContent.left img{
        height: 10vw;
    }
    .navContent.center{
        display: none;
    }
    .navContent.right{
        width: 50%;
    }
    .navContent.right a{
        font-weight: 400;
        font-size: 7vw;
        color: white;
    }
    .userPublicBtn a#agLoginBtn{
        font-size: 7vw;
        line-height: 5vw;
    }
    .userPublicBtn a#agRegisterBtn{
        padding: 3% 10%;
        margin-left: 7%;
    }
    .userPublicBtn a#agRegisterBtn h6{
        font-size: 3vw;
    }
    .userProfileBtn .agProfileSelect{
        display: none;
    }
    .userProfileBtn a#agAdminBtn{
        font-size: 7vw;
        line-height: 5vw;
    }
    .agProfileBtnMobile{
        height: 8vw;
        width: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        border: solid 3px white;
        background: white;
        cursor: pointer;
    }
    .agProfileBtnMobile img{
        height: 100%;
        width: 100%;
    }
    .profileModalContainer{
        display: none;
    }
    .navContainer.profileSelect{
        display: flex;
    }








}