@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: 'Bruno Ace SC', cursive; */
h1, h2, h3, h4, h5, h6, p, span{ 
    font-family: "Montserrat", sans-serif;
}
nav{
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.mainNavContainer{
    height: 4vw;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 999;
}
.mainNavContainer hr{
    display: none;
}
.navContainerModal{
    height: 100vh;
    width: 100%;
    padding-top: 4vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navContentModal{
    height: auto;
    width: 30%;
    box-shadow: 0 0 10px white;
    padding: 2%;
    border-radius: 1vw;
    background: url('../assets/imgs/LoginBackground.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    animation: fade-in-down 800ms ease;
}
.navContentModal button#closeModalContent{
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 1.5vw;
    cursor: pointer;
    position: absolute;
    top: 1vw;
    right: 1vw;
}
.navRegistrationContent{
    height: auto;
    width: 100%;
    margin: 3% 0;
}
.navRegistrationContent h6{
    text-align: center;
    margin-left: 5%;
    text-shadow: 0 0 10px black;
}
.navRegContents{
    padding: 0 10%;
}
.navRegContents div{
    height: auto;
    width: 100%;
    margin-top: 5%;
    position: relative;
}
.navRegContents div p{
    font-size: 0.7vw;
    color: white;
    margin-bottom: 2%;
}
.navRegContents div input{
    width: 100%;
    padding: 2% 3%;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: solid 2px white;
    outline: none;
    color: white;
    border-radius: 0.5vw;
}
.navRegContents div button.navRefContViewPass{
    position: absolute;
    top: 0;
    right: 2%;
    background: none;
    border: none;
    outline: none;
    color: white;
}
.recaptchaSetup{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 10% 0;
    position: relative;
}
.recaptchaSetup img{
    position: absolute;
    height: 2.4vw;
    margin-right: 5%;
    border-radius: 0.5vw;
    opacity: 100%;
    top: 0;
    left: 0;
    width: 40%;
}
.recaptchaSetup img#captchaContent{
    z-index: 2;
    opacity: 35%;
}
.navRegContents .recaptchaSetup input{
    width: 50%;
}
.submitAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.submitAccount button{
    width: 50%;
    border: solid 2px white;
    padding: 2% 0;
    background: white;
    border-radius: 50px;
    cursor: pointer;
}
.submitAccount button h6{
    font-weight: 400;
    font-size: 0.9vw;
    margin: 0;
    text-shadow: none;
    color: black;
}
.submitAccount button:hover{
    opacity: 100%;
    transition: 400ms ease;
    background: gold;
    box-shadow: 0 0 10px black;
}
.registrationTCPP{
    text-align: center;
} 
.registrationTCPP div{
    height: 1vw;
    font-style: italic;
}
.registrationTCPP a{
    cursor: pointer;
    color: goldenrod;
}
.errorMessage p{
    height: 1vw;
    font-weight: 600;
    font-style: italic;
    text-shadow: 0 0 10px black;
    text-align: center;
}















.navContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}
.navContainer.mobile{
    height: 6vh;
    display: none;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
.navContainer.mobile button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.navContainer.mobile button h5{
    font-size: 7.5vw;
    line-height: 5vw;
    color: gray;
    opacity: 50%;
}


.navContainer.mobile button.active h5{
    color: white;
    opacity: 100%;
}



/* Website */

.navContent a{
    text-decoration: none;
}
.navContent.left{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navContent.left a{
    display: flex;
    justify-content: left;
    align-items: center;
}
.navContent.left img{
    height: 3vw;
    max-width: 100%;
    margin-right: 5%;
}
.navContent.left img#nclLogoMobile{
    display: none;
}
.navContent.left h5{
    font-weight: 600;
    font-size: 1vw;
}
.navContent.center{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navContent.center a{
    margin-left: 10%;
}
.navContent.center a h6{
    font-weight: 400;
    font-size: 0.7vw;
}
.navContent.right{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navContent.right div{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navContent.right div a#agRegisterBtn{
    border: solid 2px white;
    padding: 3% 10%;
    margin-left: 5%;
    border-radius: 50px;
}
.navContent.right a{
    cursor: pointer;
}
.navContent.right a h6{
    font-weight: 400;
    font-size: 0.7vw;
}
.navContent.right div a#agLoginBtn h6{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}
.navContent.right a:hover{
    text-shadow: 0 0 20px white;
    transition: 400ms ease;
}
.navContent.right .connectedUser{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navContent.right div a#agProfileBtn,
.navContent.right div a#agCartBtn,
.navContent.right div a#agAdminBtn{
    height: 2.2vw;
    margin: 0 5%;
}
.navContent.right div a#agProfileBtn h6,
.navContent.right div a#agCartBtn h6,
.navContent.right div a#agAdminBtn h6{
    font-size: 2.3vw;
    line-height: 1vw;
}
.navContent.right div a#agProfileBtn img,
.navContent.right div a#agCartBtn img,
.navContent.right div a#agAdminBtn img{
    height: 100%;
    border-radius: 50%;
    border: solid 2px white;
}
.navContent.right div a#agLogoutBtn{
    border: solid 2px white;
    padding: 3% 10%;
    border-radius: 50px;
}




@media screen and (max-width: 500px){
    .mainNavContainer{
        height: auto;
        width: 100%;
        background: black;
    }
    .mainNavContainer hr{
        display: block;
    }
    .navContentModal{
        height: auto;
        width: 90%;
        border-radius: 3vw;
    }
    .navContentModal button#closeModalContent{
        font-size: 5vw;
        top: 2vw;
        right: 2vw;
    }
    .navRegistrationContent h6{
        font-size: 3vw;
    }
    .navRegContents div p{
        font-size: 2.3vw;
    }
    .navRegContents div input{
        border-radius: 2vw;
    }
    .recaptchaSetup img{
        height: 100%;
        margin-right: 5%;
        border-radius: 2vw;
    }
    .submitAccount button h6{
        font-size: 3vw;
    }
    .errorMessage p{
        height: 2.3vw;
    }



    .navContainer{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5% 5%;
    }
    .navContainer.mobile{
        display: flex;
    }
    .navContent.left{
        width: 40%;
    }
    .navContent.left img{
        height: 10vw;
    }
    .navContent.center{
        display: none;
    }
    .navContent.right{
        width: 50%;
    }
    .navContent.right a h6{
        font-weight: 400;
        font-size: 3vw;
    }
    .navContent.right div a#agLoginBtn h6{
        font-size: 8.5vw;
    }
    .navContent.right div a#agRegisterBtn{
        display: none;
    }
    .navContent.right div a#agCartBtn,
    .navContent.right div a#agAdminBtn{
        height: 8vw;
        margin: 0;
        margin-left: 10%;
    }
    .navContent.right div a#agCartBtn h6,
    .navContent.right div a#agAdminBtn h6{
        font-size: 8vw;
        line-height: 8vw;
    }
    .navContent.right #userProfile a#agProfileBtn{
        display: none;
    }
    .navContent.right #userProfile a#agLogoutBtn{
        display: none;
    }
    .navContainer.mobile a#agProfileBtn{
        height: 8vw;
        width: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        border: solid 2px white;
    }
    .navContainer.mobile a#agProfileBtn img{
        height: 100%;
        width: 100%;
    }









}