h1, h2, h3, h4, h5, h6, p{
    color: white;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.profile{
    height: auto;
    width: 100%;
    background: black;
    position: relative;
}


.modalContainerProfile{
    height: 100vh;
    width: 100%;
    padding-top: 4vw;
    position: fixed;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContentProfile{
    position: relative;
    height: auto;
    width: 50%;
    border-radius: 1vw;
    background: 
        linear-gradient(transparent, black 80%),
        url('../assets/imgs/LoginBackground.jpg');
    background-size: cover;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.5);
    padding: 3% 2%;
    animation: fade-in-down 800ms ease;
}
.modalContentProfile button#closeModalSettings{
    position: absolute;
    right: 2%;
    top: 3%;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}
.mdcpSettingsContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.mdcpsContent.left{
    height: auto;
    width: 35%;
}
.mdcpscProfileDP{
    height: 13vw;
    width: 13vw;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    border: dashed 3px white;
    overflow: hidden;
}
.mdcpscProfileDP img{
    height: 100%;
    width: auto;
}
.mdcpscProfileDP input{
    display: none;
    opacity: 0;
}
.mdcpscProfileDP button{
    position: absolute;
    right: 5%;
    top: 5%;
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.mdcpscSampleProfile{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
    margin: 4% 0;
    position: relative;
}
.mdcpscSampleProfile img{
    height: 2vw;
    margin: 2%;
    border-radius: 50%;
    cursor: pointer;
}
.mdcpscCustomProfile{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 3%;
}
.mdcpscCustomProfile input{
    width: 80%;
    color: white;
    cursor: pointer;
    opacity: 0;
    position: absolute;
}
.mdcpscCustomProfile p{
    cursor: pointer;
    font-size: 0.7vw;
}
.mdcpsContent.right{
    height: auto;
    width: 65%;
    padding: 0 2%;
}
.mdcpsContent.right h4 .faIcons{
    font-size: 1.5vw;
    color: gold;
}
.mdcpccrSocials{
    height: auto;
    width: 100%;
    margin-top: 3%;
    padding: 4%;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.mdcpccrSocials div{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.mdcpccrSocials div span{
    width: 47%;
    margin-bottom: 3%;
}
.mdcpccrSocials div span input{
    width: 100%;
    padding: 3% 5%;
    margin-top: 3%;
    background: none;
    border: solid 1px white;
    border-radius: 50px;
    color: white;
    font-size: 0.7vw;
}
.mdcpccrSocials div span p{
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 80%;
    margin-left: 5%;
    font-size: 0.7vw;
}
.mdcpccrSocials div span p .faIcons{
    margin-right: 2%;
}
.mdcpccrSubmit{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.mdcpccrSubmit button{
    padding: 1% 5%;
    background: none;
    color: white;
    border: solid 2px white;
    border-radius: 50px;
    cursor: pointer;
    opacity: 50%;
    margin: 0 1%;
}
.mdcpccrSubmit button#mdcpccrsVerified{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border: solid 2px goldenrod;
    color: gold;
    opacity: 100%;
}
.mdcpccrSubmit button#mdcpccrsVerified .faIcons{
    margin-left: 5%;
}
.mdcpccrSubmit button#mdcpccrsSubmit:hover{
    transition: 400ms ease;
    opacity: 100%;
    background: white;
    color: black;
    box-shadow: 0 0 10px blue;
}


.modalContentPosting{
    position: relative;
    height: auto;
    width: 40%;
    border-radius: 1vw;
    background: 
        linear-gradient(transparent, black 80%),
        url('../assets/imgs/LoginBackground.jpg');
    background-size: cover;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.5);
    padding: 2%;
    padding-bottom: 3%;
    animation: fade-in-down 800ms ease;
}
.modalContentPosting button#closeModalPosting{
    position: absolute;
    right: 3%;
    top: 1vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}
.mdcpPostingContainer{
    height: auto;
    width: 100%;
    padding: 0 3%;
}
.mdcppcPostUser{
    height: 4vw;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 3%;
}
.mdcppcPostUser img{
    height: 100%;
    width: auto;
    border-radius: 50%;
    margin-right: 3%;
}
.mdcppcPostUser span h5 .faIcons{
    color: gold;
}
.mdcppcPostContent{
    height: auto;
    width: 100%;
    border: solid 2px gray;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
    margin-bottom: 3%;
}
.mdcppcpcPost{
    height: auto;
    width: 100%;
    position: relative;
}
.mdcppcpcPost p{
    position: absolute;
    right: 2%;
    bottom: 10%;
    font-size: 0.7vw;
    color: gray;
}
.mdcppcpcPost textarea{
    height: 5vw;
    width: 100%;
    padding: 2%;
    font-size: 0.7vw;
    border: none;
    color: white;
    background: none;
    resize: none;
    outline: none;
}
.mdcppcpcAddition{
    height: auto;
    width: 100%;
    position: relative;
}
.mdcppcpcAddition input{
    width: 100%;
    padding: 2%;
    font-size: 0.7vw;
    border: none;
    background: none;
    color: white;
    outline: none;
}
.mdcppcpcaMedia{
    height: 20vw;
    padding: 2%;
}
.mdcppcpcaMedia div{
    height: 100%;
    width: 100%;
    border: dashed 2px gray;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mdcppcpcaMedia div img{
    height: 100%;
}
.mdcppcpcaMedia div h6{
    color: gray;
    opacity: 50%;
}
.mdcppcpcaMedia input{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
}
.mdcppcpcAddition button{
    position: absolute;
    right: 2%;
    top: 25%;
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.mdcppcpcAddition.media button{
    top: 5%;
    right: 3%;
    z-index: 3;
    padding: 1%;
}
.mdcppcPostButton{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mdcppcpb.left{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mdcppcpb.left button{
    padding: 2% 0%;
    line-height: 0.7vw;
    font-size: 1.2vw;
    border: none;
    background: none;
    color: white;
    margin-right: 5%;
    cursor: pointer;
} 
.mdcppcpb.right{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mdcppcpb.right button{
    padding: 2% 7%;
    font-size: 0.7vw;
    background: none;
    border: solid 2px white;
    border-radius: 50px;
    color: white;
    margin: 0 2%;
    cursor: pointer;
}
.mdcppcpb.right button:hover{
    background: white;
    color: black;
    box-shadow: 0 0 10px blue;
    transition: 400ms ease;
}
.mdcppcpb button.active{
    opacity: 30%;
    cursor: not-allowed;
}
.mdcppcpb button.active:hover{
    background: none;
    color: white;
    box-shadow: none;
}




.modalContentStory{
    position: relative;
    height: auto;
    width: 25%;
    border-radius: 1vw;
    background: 
        linear-gradient(transparent, black 80%),
        url('../assets/imgs/LoginBackground.jpg');
    background-size: cover;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.5);
    padding: 1%;
    animation: fade-in-down 800ms ease;
}
.modalContentStory button#closeModalStory{
    position: absolute;
    right: 7%;
    top: 1.5vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    z-index: 2;
}
.mdcsStoryContainer{
    height: 35vw;
    width: 100%;
    border: dashed 2px white;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mdcsStoryContainer img{
    height: 100%;
    width: auto;
}
.mdcsStoryContainer h6{
    color: gray;
    opacity: 50%;
}
.mdcsStoryContainer input{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.mdcsStoryContainer button{
    position: absolute;
    bottom: 2%;
    right: 3%;
    font-size: 3vw;
    line-height: 2vw;
    background: none;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    opacity: 30%;
}
.mdcsStoryContainer button:hover{
    opacity: 100%;
    color: lightblue;
    transition: 400ms ease;
}




section.profilePageContainer.top{
    height: 25vw;
    width: 100%;
    position: relative;
    overflow: hidden;
}
section.profilePageContainer.top img{
    height: auto;
    width: 100%;
    margin-top: -15%;
}
section.profilePageContainer.top div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: 
        linear-gradient(transparent, black 80%);
    background-size: cover;
}



section.profilePageContainer.mid{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2% 10%;
    padding-top: 0;
    margin-top: -3%;
    position: relative;
}
.profilePageContent.left{
    height: auto;
    width: 30%;
    padding: 2%;
    padding-top: 7vw;
    background: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 10px black;
    border-radius: 1vw;
}
.ppclProfilePic{
    height: auto;
    width: 100%;
    position: relative;
}
.ppclProfilePic img{
    height: auto;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    transform: translateY(-5%);
    left: 0;
}
.ppclProfileName{
    height: 4vw;
    width: 100%;
    text-align: center;
}
.ppclProfileName h5{
    height: 2vw;
}
.ppclProfileName h5 .faIcons.gold{
    height: 1.5vw;
    color: gold;
    margin-left: 1%;
}
.ppclProfileName h5 .faIcons.blue{
    height: 1.5vw;
    color: skyblue;
    margin-left: 1%;
}
.ppclProfileName p{
    height: 1.5vw;
    font-size: 0.9vw;
    color: gray;
}
.ppclProfileSocials{
    height: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppclProfileSocials a{
    margin: 2%;
}
.ppclProfileSocials a h6{
    font-size: 1.4vw;
    line-height: 1vw;
}
.ppclProfileSocials div{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.ppclProfileSocials div button{
    width: 95%;
    font-size: 0.9vw;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: none;
    border: solid 1px white;
    border-radius: 50px;
    cursor: pointer;
}
.ppclProfileDetails{
    height: auto;
    width: 100%;
    margin-top: 10%;
}
.ppclProfileDetails span{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}
.ppclProfileDetails span p#agPoints,
.ppclProfileDetails span p#agGems{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.ppclProfileDetails span p#agPoints .faIcons,
.ppclProfileDetails span p#agGems .faIcons{
    margin-left: 5%;
    line-height: 1vw;
}








.profilePageContent.right{
    height: auto;
    width: 65%;
}
.ppcrProfileNavigations{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.ppcrProfileNavigations button{
    padding: 1% 3%;
    background: none;
    border: none;
    outline: none;
    opacity: 30%;
    cursor: pointer;
}
.ppcrProfileNavigations button.active{
    opacity: 100%;
}
.ppcrProfileNavigations button:hover{
    opacity: 100%;
    transition: 400ms ease;
}



.ppcrProfileContents{
    height: auto;
    width: 100%;
    padding: 4%;
    margin-top: 2%;
    border-radius: 1vw;
    background: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 10px black;
}
.ppcrpchpWhat{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}
.ppcrpchpWhat img{
    height: 3vw;
    border-radius: 50%;
}
.ppcrpchpWhat input{
    height: 2.5vw;
    width: 83%;
    padding: 1% 3%;
    font-size: 0.9vw;
    background: none;
    border: solid 2px white;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}
.ppcrpchpWhat button#postAStory{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 2.5vw;
    line-height: 1.5vw;
    cursor: pointer;
}



.ppcrpchpStories{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 3%;
}
.postAStory{
    height: 15vw;
    width: 23%;
    border: solid 2px white;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 2%;
    cursor: pointer;
}
.postAStory img{
    height: 100%;
}
.postAStory span{
    height: 5vw;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: white;
    text-align: center;
    padding: 7% 0;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.postAStory span h5{
    font-size: 2vw;
    line-height: 1.5vw;
    margin-bottom: 2%;
}
.viewAStory{
    height: 15vw;
    width: 75%;
}
.storiesContents{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: top;
}
.storiesContents div{
    height: 15vw;
    width: 11vw;
    margin-right: 2%;
    border: solid 2px white;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.storiesContents div span{
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 4%;
    left: 6%;
    border: solid 2px white;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    overflow: hidden;
}
.storiesContents div img{
    height: 100%;
}




.ppcrpchpMyPosts{
    height: auto;
    width: 100%;
}
.ppcrpchpPost{
    height: auto;
    width: 100%;
    margin: 3% 0;
}
.ppcrpchpUser{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 2%;
}
.ppcrpchpUser img{
    height: 3vw;
    border-radius: 50%;
    margin-right: 2%;
}
.ppcrpchpUser span h6 .faIcons{
    color: gold;
}
.ppcrpchpupWords{
    height: auto;
    width: 100%;
    text-align: left;
    margin-bottom: 2%;
}
.ppcrpchpuPosting{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
}
.ppcrpchpuPosting img#ppcrpchpuPostingBG{
    width: 100%;
    position: absolute;
    filter: blur(15px);
}
.ppcrpchpuPosting img#ppcrpchpuPostingImg{
    height: 100%;
    position: relative;
}
.ppcrpchpNoPost{
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ppcrpchpNoPost h6{
    color: gray;
    opacity: 50%;
}

