h1, h2, h3, h4, h5, h6, p{
    color: white;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.profile{
    height: auto;
    width: 100%;
    background: black;
    position: relative;
    padding-bottom: 10vw;
}


.modalContainerProfile{
    height: 100vh;
    width: 100%;
    padding-top: 4vw;
    position: fixed;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContentProfile{
    position: relative;
    height: auto;
    width: 50%;
    border-radius: 1vw;
    background-size: cover;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.5);
    padding: 3% 2%;
    animation: fade-in-down 800ms ease;
}
.modalContentProfile button#closeModalSettings{
    position: absolute;
    right: 1vw;
    top: 1vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}
.modalContentProfile form{
    height: auto;
    width: 100%;
}
.mdcpSettingsContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mdcpsContent.left{
    height: auto;
    width: 35%;
}
.mdcpscProfileDP{
    height: 13vw;
    width: 13vw;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    border: dashed 3px white;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
}
.mdcpscProfileDP img{
    height: 100%;
    width: auto;
}
.mdcpscProfileDP input{
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.mdcpscProfileDP button{
    position: absolute;
    right: 5%;
    top: 5%;
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    z-index: 2;
}
.mdcpscSampleProfile{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
    margin-top: 4%;
    position: relative;
}
.mdcpscSampleProfile.mob{
    display: none;
}
.mdcpscSampleProfile img{
    height: 2vw;
    margin: 2%;
    border-radius: 50%;
    cursor: pointer;
}
.mdcpscCustomProfile{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 3%;
    margin-top: 5%;
}
.mdcpscCustomProfile input{
    width: 80%;
    color: white;
    cursor: pointer;
    opacity: 0;
    position: absolute;
}
.mdcpscCustomProfile p{
    width: 100%;
    cursor: pointer;
    font-size: 0.7vw;
    display: flex;
    justify-content: center;
}
.mdcpscCustomProfile p .faIcons{
    font-size: 0.9vw;
    line-height: 0.7vw;
    margin-right: 3%;
}
.mdcpsContent.right{
    height: auto;
    width: 65%;
    padding: 0 2%;
}
.mdcpsContent.right h4 .faIcons{
    margin-left: 1%;
}
.mdcpsContent.right h4 .faIcons.gold{
    font-size: 1.5vw;
    color: gold;
}
.mdcpsContent.right h4 .faIcons.blue{
    font-size: 1.5vw;
    color: royalblue;
}
.mdcpccrSocials{
    height: auto;
    width: 100%;
    margin-top: 3%;
    padding: 4%;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.mdcpccrSocials div{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.mdcpccrSocials div span{
    width: 47%;
    margin-bottom: 3%;
}
.mdcpccrSocials div span input{
    width: 100%;
    padding: 3% 5%;
    margin-top: 3%;
    background: none;
    border: solid 1px white;
    border-radius: 50px;
    color: white;
    font-size: 0.7vw;
}
.mdcpccrSocials div span p{
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 80%;
    margin-left: 5%;
    font-size: 0.7vw;
}
.mdcpccrSocials div span p .faIcons{
    margin-right: 2%;
}
.mdcpccrLoader{
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.mdcpccrLoader p{
    height: 1vw;
}
.mdcpccrSubmit{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.mdcpccrSubmit button{
    padding: 1% 5%;
    background: none;
    color: white;
    border: solid 2px white;
    border-radius: 50px;
    cursor: pointer;
    opacity: 50%;
    margin: 0 1%;
}
.mdcpccrSubmit button#mdcpccrsVerified{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border: solid 2px goldenrod;
    color: gold;
    opacity: 100%;
}
.mdcpccrSubmit button#mdcpccrsVerified .faIcons{
    margin-left: 5%;
}
.mdcpccrSubmit button#mdcpccrsSubmit:hover{
    transition: 400ms ease;
    opacity: 100%;
    background: white;
    color: black;
    box-shadow: 0 0 10px blue;
}




.modalContentCover{
    position: relative;
    height: auto;
    width: 50%;
    border-radius: 1vw;
    background-size: cover;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.5);
    padding: 0.5%;
    animation: fade-in-down 800ms ease;
}
.modalContentCover button#closeModalCover{
    position: absolute;
    right: 1vw;
    top: 1vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    z-index: 2;
}
.mdcpCoverContainer{
    height: 30vw;
    width: 100%;
    border: dashed 2px white;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mdcpCoverContainer input{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}
.mdcpCoverContainer img{
    width: 100%;
}
.mdcpCoverContainer button{
    width: auto;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    font-size: 2vw;
    line-height: 2vw;
    padding: 0 3%;
    width: 20%;
    font-size: 0.7vw;
    border-radius: 50px;
    border: solid 2px white;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}
.mdcpCoverContainer button#emptyCover{
    opacity: 50%;
}
.mdcpCoverContainer button .faIcons{
    margin-right: 5%;
}









.modalContentPosting{
    position: relative;
    height: auto;
    width: 40%;
    border-radius: 1vw;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.5);
    padding: 2%;
    padding-bottom: 3%;
    animation: fade-in-down 800ms ease;
    overflow: hidden;
}
.modalCSCover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalCSCover img{
    height: 200%;
    display: flex;
    margin: 0 auto;
}
.modalCSCoverShadow{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, black 80%);
    background-size: cover;
}
.modalContentPosting button#closeModalPosting{
    position: absolute;
    right: 3%;
    top: 1vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    z-index: 3;
}
.modalContentPosting #userPostModalContainer{
    position: relative;
}
.mdcpPostingContainer{
    height: auto;
    width: 100%;
    padding: 0 3%;
}
.mdcppcPostUser{
    height: 4vw;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 3%;
}
.mdcppcPostUser div{
    height: 100%;
    width: auto;
    border-radius: 50%;
    margin-right: 3%;
    overflow: hidden;
}
.mdcppcPostUser div img{
    height: 100%;
    width: auto;
}
.mdcppcPostUser span h5 .faIcons.gold{
    color: gold;
}
.mdcppcPostUser span h5 .faIcons.blue{
    color: royalblue;
}
.mdcppcPostContent{
    height: auto;
    width: 100%;
    border: solid 2px gray;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
    margin-bottom: 3%;
}
.mdcppcpcPost{
    height: auto;
    width: 100%;
    position: relative;
}
.mdcppcpcPost p{
    position: absolute;
    right: 2%;
    bottom: 10%;
    font-size: 0.7vw;
    color: gray;
}
.mdcppcpcPost textarea{
    height: 5vw;
    width: 100%;
    padding: 2%;
    font-size: 0.7vw;
    border: none;
    color: white;
    background: none;
    resize: none;
    outline: none;
}
.mdcppcpcAddition{
    height: auto;
    width: 100%;
    position: relative;
}
.mdcppcpcAddition input{
    width: 100%;
    padding: 2%;
    font-size: 0.7vw;
    border: none;
    background: none;
    color: white;
    outline: none;
}
.mdcppcpcaMedia{
    height: 20vw;
    padding: 2%;
}
.mdcppcpcaMedia div{
    height: 100%;
    width: 100%;
    border: dashed 2px gray;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mdcppcpcaMedia div img{
    height: 100%;
}
.mdcppcpcaMedia div h6{
    color: gray;
    opacity: 50%;
}
.mdcppcpcaMedia input{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
}
.mdcppcpcAddition button{
    position: absolute;
    right: 2%;
    top: 25%;
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.mdcppcpcAddition.media button{
    top: 5%;
    right: 3%;
    z-index: 3;
    padding: 1%;
    cursor: pointer;
}
.mdcppcPostButton{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mdcppcpb.left{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mdcppcpb.left button{
    padding: 2% 0%;
    line-height: 0.7vw;
    font-size: 1.5vw;
    border: none;
    background: none;
    color: white;
    margin-right: 10%;
    cursor: pointer;
} 
.mdcppcpb.right{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mdcppcpb.right button{
    padding: 2% 7%;
    width: 70%;
    font-size: 0.9vw;
    background: none;
    border: solid 2px white;
    border-radius: 50px;
    color: white;
    margin-left: 2%;
    cursor: pointer;
}
.mdcppcpb.right button:hover{
    background: white;
    color: black;
    box-shadow: 0 0 10px blue;
    transition: 400ms ease;
}
.mdcppcpb button.active{
    opacity: 30%;
    cursor: not-allowed;
}
.mdcppcpb button.active:hover{
    background: none;
    color: white;
    box-shadow: none;
}



.modalContentSuccess{
    position: relative;
    height: auto;
    width: 30%;
    text-align: center;
    border-radius: 1vw;
    background-size: cover;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.5);
    padding: 2%;
    padding-bottom: 3%;
    animation: fade-in-down 800ms ease;
}
.modalContentSuccess p{
    font-size: 1vw;
    margin-bottom: 5%;
    text-shadow: 0 0 10px black;
}
.modalContentSuccess button{
    font-size: 1vw;
    padding: 1% 7%;
    background: none;
    border: solid 2px white;
    outline: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}



.modalContentStory{
    position: relative;
    height: auto;
    width: 25%;
    border-radius: 1vw;
    background-size: cover;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.5);
    padding: 0.5%;
    animation: fade-in-down 800ms ease;
    overflow: hidden;
}
.modalContentStory img#modalCSCover{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(-30%, 0);
}
.modalContentStory button#closeModalStory{
    position: absolute;
    right: 1vw;
    top: 1vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    z-index: 3;
}
.mdcsStoryContainer{
    height: 35vw;
    width: 100%;
    border: dashed 2px white;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: relative;
}
.mdcsStoryContainer.show{
    border: solid 2px white;
}
.mdcsscDP{
    height: auto;
    width: 100%;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mdcsscDP h6{
    width: 20%;
    color: white;
}
.mdcsscDP h6 .faIcons{
    margin-left: 3%;
}
.mdcsscDP h6 .faIcons.gold{
    color: gold;
}
.mdcsscDP h6 .faIcons.blue{
    color: royalblue;
}
.mdcsscDP h6 span{
    font-size: 0.7vw;
    font-weight: 400;
}
.mdcsscDP div{
    height: 3vw;
    width: 3vw;
    background: white;
    border: solid 2px white;
    border-radius: 50%;
    margin-right: 3%;
    overflow: hidden;
}
.mdcsStoryContainer img{
    height: 100%;
}
.mdcsStoryContainer input{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.storySubmit{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: right;
    background: 
        linear-gradient(transparent, black 90%);
    background-size: cover;
    padding: 3%;
}
.storySubmit button{
    width: 35%;
    font-size: 0.7vw;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
    border: solid 2px white;
    box-shadow: 0 0 10px black;
    text-align: center;
    cursor: pointer;
}
.storySubmit button#emptyStory{
    opacity: 50%;
}
.storySubmit button .faIcons{
    margin-right: 5%;
}


section.profilePageContainer.top{
    height: 25vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.profilePageContainer.top img{
    position: absolute;
    width: 100%;
}
.ppctShadow{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: 
        linear-gradient(transparent, black 80%);
    background-size: cover;
    z-index: 2;
}
.ppctEditCoverImg{
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 6vw;
    right: 10vw;
    display: flex;
    justify-content: right;
    align-items: center;
}
.ppctecimg{
    height: auto;
    width: 25%;
    display: flex;
    justify-content: right;
    position: relative;
}
.ppctecimg button{
    font-size: 0.9vw;
    padding: 1% 7%;
    border: solid 2px white;
    border-radius: 50px;
    background: none;
    color: white;
    cursor: pointer;
}
.ppctecimg button#ppcteprofileBtn{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    padding: 1% 3%;
}
.ppctecimg button#ppctecimgBtnMob{
    display: none;
}














section.profilePageContainer.mid{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2% 10%;
    padding-top: 0;
    margin-top: -4%;
    position: relative;
    background: black;
    z-index: 2;
}
.profilePageContent.left{
    height: auto;
    width: 30%;
    padding: 2%;
    padding-top: 7vw;
    background: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 10px black;
    border-radius: 1vw;
    position: relative;
}
.ppclProfilePic{
    height: 18vw;
    width: 18vw;
    overflow: hidden;
    border-radius: 50%;
    background: black;
    box-shadow: 0 0 20px black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    transform: translate(16%, -75%);
    z-index: 3;
}
.ppclProfilePic img{
    height: 100%;
}
.ppclProfileName{
    height: 3.5vw;
    width: 100%;
    text-align: center;
}
.ppclProfileName h5{
    height: 2vw;
}
.ppclProfileName h5 .faIcons.gold{
    height: 1.5vw;
    color: gold;
    margin-left: 1%;
}
.ppclProfileName h5 .faIcons.blue{
    height: 1.5vw;
    color: royalblue;
    margin-left: 1%;
}
.ppclProfileName p{
    height: 1.5vw;
    font-size: 0.9vw;
    color: gray;
}
.ppclProfileBio{
    height: 4vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2%;
}
.ppclProfileBio p{
    white-space: pre-line;
}
.ppclProfileBio button{
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    background: none;
    border: none;
    outline: none;
    font-size: 0.9vw;
    color: white;
    cursor: pointer;
    opacity: 30%;
}
.ppclProfileBio button:hover{
    opacity: 100%;
    transition: 400ms ease;
}
.ppclProfileBio textarea{
    height: 100%;
    width: 100%;
    padding: 3%;
    padding-right: 10%;
    background: rgb(49, 49, 49);
    border: none;
    outline: none;
    resize: none;
    font-size: 0.7vw;
    border-radius: 1vw;
    color: white;
}
.ppclProfileBio span{
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
    color: white;
    font-size: 0.7vw;
}
.ppclProfileSocials{
    height: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppclProfileSocials a{
    margin: 2%;
}
.ppclProfileSocials a h6{
    font-size: 1.4vw;
    line-height: 1vw;
}
.ppclProfileSocials div{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.ppclProfileSocials div button{
    width: 95%;
    font-size: 0.9vw;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: none;
    border: solid 1px white;
    border-radius: 50px;
    cursor: pointer;
}
.ppclProfileDetails{
    height: auto;
    width: 100%;
    margin-top: 10%;
}
.ppclProfileDetails span{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}
.ppclProfileDetails span p#agPoints,
.ppclProfileDetails span p#agGems{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.ppclProfileDetails span p#agPoints .faIcons,
.ppclProfileDetails span p#agGems .faIcons{
    margin-left: 5%;
    line-height: 1vw;
}
.ppclProfileExtra{
    height: auto;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.ppclProfileExtra button{
    width: 33%;
    padding: 2% 4%;
    border: solid 2px white;
    background: none;
    outline: none;
    color: white;
    border-radius: 50px;
    font-size: 3vw;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ppclProfileExtra span{
    width: 20%;
    padding-right: 3%;
}
.ppclProfileExtra p{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 3vw;
}
.ppclProfileExtra p .faIcons{
    margin-left: 10%;
}





.profilePageContent.right{
    height: auto;
    width: 65%;
}
.ppcrProfileNavigations{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.ppcrProfileNavigations button{
    padding: 1% 3%;
    background: none;
    border: none;
    outline: none;
    opacity: 30%;
    cursor: pointer;
}
.ppcrProfileNavigations button.active{
    opacity: 100%;
}
.ppcrProfileNavigations button:hover{
    opacity: 100%;
    transition: 400ms ease;
}



.ppcrProfileContents{
    height: auto;
    width: 100%;
    padding: 4%;
    margin-top: 2%;
    border-radius: 1vw;
    background: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 10px black;
}
.ppcrpchpWhat{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}
.ppcrpchpWhat img{
    height: 2.7vw;
    width: 2.7vw;
    border-radius: 50%;
    border: solid 2px white;
}
.ppcrpchpWhat input{
    height: 2.5vw;
    width: 83%;
    padding: 1% 3%;
    font-size: 0.9vw;
    background: none;
    border: solid 2px white;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}
.ppcrpchpWhat button#postAStory{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 2.5vw;
    line-height: 1.5vw;
    cursor: pointer;
}



.ppcrpchpStories{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 3%;
}
.postAStory{
    height: 17vw;
    width: 24%;
    border: solid 2px white;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.postAStory img{
    height: 100%;
}
.postAStory span{
    height: 5vw;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: white;
    text-align: center;
    padding: 7% 0;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.postAStory span h5{
    font-size: 2vw;
    line-height: 1.5vw;
    margin-bottom: 2%;
}
.viewAStory{
    height: 17vw;
    width: 76%;
}
.storiesContents{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: top;
}
.storiesContents div{
    height: 17vw;
    width: 12vw;
    border: solid 2px white;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    background: black;
    margin-left: 2%;
}
.storiesContents div span{
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 4%;
    left: 6%;
    border: solid 2px white;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    overflow: hidden;
}
.storiesContents div img{
    height: 100%;
}




.ppcrpchpMyPosts{
    height: auto;
    width: 100%;
}
.ppcrpchpPost{
    height: auto;
    width: 100%;
    margin: 1% 0;
    border: solid 2px black;
    padding: 3%;
    border-radius: 1vw;
}
.ppcrpchpUser{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 3%;
}
.ppcrpchpUser img{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    margin-right: 2%;
}
.ppcrpchpUser span{
    width: 100%;
}
.ppcrpchpUser span h6 .faIcons{
    margin-left: 0.5%;
}
.ppcrpchpUser span h6 .faIcons.gold{
    color: gold;
}
.ppcrpchpUser span h6 .faIcons.blue{
    color: royalblue;
}
.ppcrpchpupWords{
    height: auto;
    width: 100%;
    text-align: left;
}
.ppcrpchpupWords p{
    white-space: pre-line;
    line-height: 1.3vw;
}
.ppcrpchpuPosting{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    margin-top: 3%;
}
.ppcrpchpuPosting img#ppcrpchpuPostingBG{
    width: 100%;
    position: absolute;
    filter: blur(15px);
}
.ppcrpchpuPosting img#ppcrpchpuPostingImg{
    height: 100%;
    position: relative;
}
.ppcrpchpuPosting .youtube-embed{
    height: 100%;
    width: 100%;
    border-radius: 1vw;
}
.ppcrpchpNoPost{
    height: 15vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ppcrpchpNoPost h6{
    color: gray;
    opacity: 50%;
}
.ppcrpchpNoPost .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side, gray 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, gray);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: spinner113 1s infinite linear;
}

.ppcrProfileContents.myProducts h3{
    width: 100%;
    font-size: 1.2vw;
    font-weight: 400;
}
.ppcrpcmpEmpty{
    height: 19.5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppcrpcmpEmpty .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side, gray 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, gray);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: spinner113 1s infinite linear;
}
.ppcrpcmpEmpty h6{
    opacity: 50%;
}
.ppcrpcmpProducts{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: start;
    margin-top: 3%;
    padding-left: 1%;
}
.ppcrpcmppContents{
    height: 16vw;
    width: 24%;
    margin-right: 1%;
    border: solid 2px white;
    border-radius: 1vw;
    margin-bottom: 1%;
    overflow: hidden;
    position: relative;
    background: black;
}
.ppcrpcmppcPlatform{
    height: 5vw;
    width: 5vw;
    border-radius: 1vw;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    padding: 3%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppcrpcmppcPlatform img{
    height: 100%;
}
.ppcrpcmppcPlatform img[platform='PC']{
    content: url('../assets/imgs/GamePlatforms/PCGames.png');
}
.ppcrpcmppcPlatform img[platform='NintendoSwitch']{
    content: url('../assets/imgs/GamePlatforms/NintendoSwitch.png');
}
.ppcrpcmppcPlatform img[platform='XboxXS']{
    content: url('../assets/imgs/GamePlatforms/XboxXS.png');
}
.ppcrpcmppcPlatform img[platform='XboxOne']{
    content: url('../assets/imgs/GamePlatforms/XboxOne.png');
}
.ppcrpcmppcPlatform img[platform='PlayStation4']{
    content: url('../assets/imgs/GamePlatforms/PS4.png');
}
.ppcrpcmppcPlatform img[platform='PlayStation5']{
    content: url('../assets/imgs/GamePlatforms/PS5.png');
}
.ppcrpcmppcPlatform div{
    text-align: center;
}
.ppcrpcmppcPlatform div h4,
.ppcrpcmppcPlatform div p{
    color: black;
}
.ppcrpcmppcImage{
    height: 12vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: black;
}
.ppcrpcmppcImage div{
    height: 4vw;
    width: 100%;
    position: absolute;
    padding: 0 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, black 50%);
    background-size: cover;
}
.ppcrpcmppcImage div h6{
    height: 3vw;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: end;
}
.ppcrpcmppcImage img{
    width: 100%;
    background: linear-gradient(transparent, black 50%);
}
.ppcrpcmppContents span{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppcrpcmppContents span input{
    width: 100%;
    padding: 2% 0;
    font-size: 0.9vw;
    text-align: center;
    position: relative;
    background: black;
    border: none;
    outline: none;
    color: white;
}
.ppcrpcmppContents button{
    position: absolute;
    width: 15%;
    font-size: 1vw;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid 1px black;
    padding: 3% 0;
    border-radius: 0.5vw;
    outline: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5vw;
    right: 0.5vw;
}
.ppcrpcmppContents p{
    text-align: center;
    font-size: 0.6vw;
    color: gray;
}

.ppcrProfileContents.myTransactions p{
    font-size: 0.7vw;
}
.ppcrpcmpTransactions{
    height: auto;
    width: 100%;
    margin-top: 2%;
}
.ppcrpcmpTransactions table{
    height: auto;
    width: 100%;
}
.ppcrpcmpTransactions table{
    height: auto;
    width: 100%;
    margin-top: 1%;
    border-collapse: collapse;
}
.ppcrpcmpTransactions table tr th{
    border: solid 1px gray;
    padding: 0.5% 0.2%;
}
.ppcrpcmpTransactions table tr th p{
    font-size: 0.7vw;
    font-weight: 400;
}
.ppcrpcmpTransactions table tr td{
    text-align: center;
    padding: 0 0.5%;
    height: 2.3vw;
}
.ppcrpcmpTransactions table tr td p{
    font-size: 0.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppcrpcmpTransactions div{
    height: 16vw;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ppcrpcmpTransactions table#ppcrpcmptContents{
    height: auto;
    width: 100%;
    margin-top: 0.5%;
    border-collapse: separate;
    position: relative;
}
.ppcrpcmpTransactions table tbody tr:nth-child(odd){
    background: rgba(80, 80, 80, 0.5);
}
.ppcrpcmpTransactions table tbody tr:nth-child(even){
    background: rgba(80, 80, 80, 0.3);
}






















@media screen and (max-width: 500px){
    .modalContainerProfile.settings{
        z-index: 999;
    }
    .modalContentProfile{
        width: 90%;
        border-radius: 5vw;
        padding: 5% 2%;
    }
    .modalContentProfile button#closeModalSettings{
        right: 4vw;
        top: 4vw;
        font-size: 5vw;
    }
    .mdcpSettingsContainer{
        display: block;
    }
    .mdcpsContent.left{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10% 0;
        padding: 0 3%;
    }
    .mdcpscProfileDP{
        height: 40vw;
        width: 40vw;
        border-radius: 2vw;
        border: dashed 2px white;
        margin: 0;
    }
    .mdcpscSampleProfile{
        padding: 0;
        justify-content: right;
    }
    .mdcpscSampleProfile.web{
        display: none;
    }
    .mdcpscSampleProfile.mob{
        display: flex;
        width: 50%;
    }
    .mdcpscSampleProfile img{
        height: 10vw;
        margin: 2%;
        border-radius: 2vw;
        cursor: pointer;
        box-shadow: 0 0 10px black;
    }
    .mdcpscSPInput{
        height: 10vw;
        width: 10vw;
        border-radius: 2vw;
        overflow: hidden;
        margin: 2%;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 10px black;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .mdcpscSPInput input{
        height: 100%;
        width: 100%;
        opacity: 0;
        position: absolute;
    }
    .mdcpscSPInput h5{
        font-size: 5vw;
        line-height: 3vw;
        color: black;
    }
    .mdcpscSPInput p{
        font-size: 2vw;
        color: black;
    }
    .mdcpscCustomProfile{
        display: none;
    }
    .mdcpsContent.right{
        height: auto;
        width: 100%;
        padding: 0 2%;
    }
    .mdcpsContent.right h4{
        font-size: 5vw;
        text-align: center;
    }
    .mdcpsContent.right h4 .faIcons.gold,
    .mdcpsContent.right h4 .faIcons.blue{
        font-size: 3vw;
        margin-bottom: 1%;
    }
    .mdcpsContent.right p{
        font-size: 2.3vw;
        text-align: center;
    }
    .mdcpccrSocials{
        border-radius: 2vw;
    }
    .mdcpccrSocials h6{
        font-size: 3vw;
    }
    .mdcpccrSocials div span{
        width: 48.5%;
        margin-bottom: 5%;
    }
    .mdcpccrSocials div span input{
        width: 100%;
        padding: 4% 7%;
        margin-top: 3%;
        border: solid 2px white;
        font-size: 2.5vw;
    }
    .mdcpccrSubmit{
        display: flex;
        flex-wrap: wrap;
        padding: 0 5%;
    }
    .mdcpccrSubmit button{
        width: 100%;
        font-size: 3vw;
        margin: 2% 0;
        padding: 2% 0;
    }
    .mdcpccrSubmit button#mdcpccrsVerified{
        width: 100%;
    }

    .modalContentCover{
        width: 90%;
        border-radius: 5vw;
        padding: 1%;
    }
    .modalContentCover button#closeModalCover{
        right: 4vw;
        top: 4vw;
        font-size: 5vw;
    }
    .mdcpCoverContainer{
        height: 60vw;
        border-radius: 4vw;
    }
    .mdcpCoverContainer h6{
        font-size: 3vw;
    }
    .mdcpCoverContainer button{
        width: 44%;
        font-size: 3vw;
        padding: 3% 5%;
        bottom: 2vw;
        right: 2vw;
    }


    .modalContentSuccess{
        width: 90%;
        border-radius: 2vw;
        padding: 10% 3%;
    }
    .modalContentSuccess p{
        font-size: 3vw;
    }
    .modalContentSuccess button{
        font-size: 3vw;
        padding: 1% 10%;
    }


    .modalContentPosting{
        width: 90%;
        border-radius: 5vw;
        padding: 5% 3%;
    }
    .modalContentPosting button#closeModalPosting{
        right: 4vw;
        top: 4vw;
        font-size: 5vw;
    }
    .mdcppcPostUser{
        height: 10vw;
        width: 100%;
        margin-bottom: 5%;
    }
    .mdcppcPostUser div{
        margin-right: 5%;
        border: solid 2px white;
    }
    .mdcppcPostUser span{
        width: 80%;
    }
    .mdcppcPostUser span h5{
        font-size: 4vw;
    }
    .mdcppcPostUser span h5 .faIcons{
        margin-left: 1%;
    }
    .mdcppcPostUser span p{
        font-size: 2.3vw;
    }
    .mdcppcPostContent{
        border-radius: 2vw;
    }
    .mdcppcpcPost textarea{
        height: 30vw;
        font-size: 2.3vw;
    }
    .mdcppcpcPost p{
        font-size: 2.3vw;
    }
    .mdcppcpcAddition input{
        width: 100%;
        padding: 2%;
        font-size: 2.3vw;
    }
    .mdcppcpcaMedia{
        height: 50vw;
        padding: 2%;
    }
    .mdcppcpcaMedia div{
        border-radius: 2vw;
    }
    .mdcppcpcaMedia div h6{
        font-size: 3vw;
    }
    .mdcppcpb.left button{
        line-height: 3vw;
        font-size: 5vw;
        margin-right: 20%;
    }
    .mdcppcpb.right{
        width: 100%;
    } 
    .mdcppcpb.right button{
        height: 8vw;
        padding: 2% 10%;
        font-size: 3vw;
    }

    .modalContentStory{
        width: 90%;
        border-radius: 5vw;
        padding: 2%;
    }
    .modalContentStory button#closeModalStory{
        right: 4vw;
        top: 4vw;
        font-size: 5vw;
    }
    .mdcsStoryContainer{
        height: 130vw;
        width: 100%;
        border-radius: 5vw;
    }
    .mdcsStoryContainer h6{
        font-size: 3vw;
    }
    .storySubmit button{
        width: 40%;
        font-size: 3vw;
    }
    .mdcsscDP{
        top: 2vw;
        left: 2vw;
    }
    .mdcsscDP div{
        height: 10vw;
        width: 10vw;
    }
    .mdcsscDP h6{
        font-size: 4vw;
        width: 50%;
    }
    .mdcsscDP h6 span{
        font-size: 3vw;
    }












    section.profilePageContainer.top{
        height: 75vw;
        width: 100%;
    }
    section.profilePageContainer.top img{
        height: 100%;
        width: auto;
    }
    .ppctEditCoverImg{
        right: 5vw;
    }
    .ppctecimg{
        width: 90%;
        opacity: 50%;
    }
    .ppctecimg button{
        font-size: 7vw;
        line-height: 3vw;
        padding: 0;
        border: none;

    }
    .ppctecimg button#ppctecimgBtnMob{
        display: block;
    }
    .ppctecimg button#ppctecimgBtnWeb{
        display: none;
    }
    .ppctecimg button#ppcteprofileBtn{
        font-size: 7vw;
        line-height: 3vw;
        padding: 0;
        margin-left: 3%;
    }

    section.profilePageContainer.mid{
        display: block;
        padding: 2% 3%;
        padding-top: 0;
        padding-bottom: 10vw;
    }
    .profilePageContent.left{
        height: auto;
        width: 100%;
        padding: 0 3%;
        padding-top: 7vw;
        padding-bottom: 5vw;
        border-radius: 2vw;
        position: relative;
    }
    .ppclProfilePic{
        height: 40vw;
        width: 40vw;
        transform: translate(65%, -90%);
    }
    .ppclProfileName{
        height: 12vw;
    }
    .ppctShadow{
        background: 
            linear-gradient(transparent, black 90%);
    }
    .ppclProfileName h5{
        height: 7vw;
        font-size: 6vw;
    }
    .ppclProfileName h5 .faIcons.gold,
    .ppclProfileName h5 .faIcons.blue{
        font-size: 5vw;
        height: 4vw;
        margin-bottom: 1%;
    }
    .ppclProfileName p{
        height: 4vw;
        font-size: 3vw;
    }
    .ppclProfileBio{
        height: auto;
        margin: 3% 0;
    }
    .ppclProfileBio p{
        font-size: 3vw;
        line-height: 4vw;
    }
    .ppclProfileBio button{
        position: absolute;
        top: 1vw;
        right: 1vw;
        font-size: 5vw;
    }
    .ppclProfileBio textarea{
        height: 20vw;
        font-size: 2.5vw;
        border-radius: 2vw;
    }
    .ppclProfileBio span{
        bottom: 1vw;
        right: 1vw;
        font-size: 2.5vw;
    }
    .ppclProfileSocials{
        height: auto;
    }
    .ppclProfileSocials a h6{
        font-size: 5vw;
        line-height: 4vw;
    }
    .ppclProfileSocials div{
        display: none;
    }
    .ppclProfileDetails{
        display: none;
    }
    .ppclProfileExtra{
        display: flex;
    }

    .profilePageContent.right{
        height: auto;
        width: 100%;
        margin-top: 10%;
    }
    /* .ppcrProfileNavigations{
        justify-content: space-between;
    } */
    .ppcrProfileNavigations button h6{
        font-size: 2.5vw;
    }
    .ppcrProfileContents{
        border-radius: 2vw;
        background: none;
        padding: 0;
    }
    .ppcrpchpWhat{
        margin: 5% 0;
    }
    .ppcrpchpWhat img{
        height: 10vw;
        width: 10vw;
    }
    .ppcrpchpWhat input{
        height: 10vw;
        width: 75%;
        padding: 1% 5%;
        font-size: 3vw;
    }
    .ppcrpchpWhat button#postAStory{
        font-size: 7vw;
        line-height: 5vw;
    }
    .ppcrpchpStories{
        display: none;
    }
    .ppcrpchPosting hr{
        display: none;
    }
    .ppcrpchPosting br{
        display: none;
    }
    .ppcrpchpPost{
        margin: 2% 0;
        padding: 5%;
        border-radius: 3vw;
        border: solid 2px rgba(50, 50, 50, 0.8);
        /* background: rgba(30, 30, 30, 0.8); */
    }
    .ppcrpchpUser img{
        height: 10vw;
        width: 10vw;
        border: solid 2px white;
    }
    .ppcrpchpUser span h6{
        font-size: 3.5vw;
    }
    .ppcrpchpUser span h6 .faIcons{
        margin-left: 1%;
    }
    .ppcrpchpUser span p{
        font-size: 3vw;
    }
    .ppcrpchpupWords{
        margin-top: 7%;
    }
    .ppcrpchpupWords p{
        font-size: 3vw;
        line-height: 4.5vw;
    }
    .ppcrpchpuPosting{
        height: auto;
        border-radius: 2vw;
    }
    .ppcrpchpuPosting img{
        height: auto;
        width: 100%;
    }
    .ppcrpchpNoPost h6{
        font-size: 3vw;
    }
    .ppcrpchpuPosting.youtube{
        height: 50vw;
        margin-top: 5%;
        border-radius: 2vw;
    }







    .ppcrProfileContents.myProducts h3{
        text-align: center;
        font-size: 3vw;
        margin: 5% 0;
    }
    .ppcrpcmpEmpty{
        height: 25vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ppcrpcmpEmpty h6 {
        font-size: 3vw;
    }
    .ppcrpcmpProducts{
        justify-content: space-between;
        align-items: start;
        margin-top: 3%;
        padding: 0;
    }
    .ppcrpcmppContents{
        height: auto;
        width: 49%;
        margin-right: 0;
        border-radius: 3vw;
        margin-bottom: 2%;
    }
    .ppcrpcmppcImage{
        height: 50vw;
        width: 100%;
    }
    .ppcrpcmppcPlatform{
        height: 15vw;
        width: 15vw;
        border-radius: 2vw;
        top: 1.5vw;
        left: 1.5vw;
        padding: 3%;
    }
    .ppcrpcmppcPlatform div h4{
        font-size: 6vw;
    }
    .ppcrpcmppcPlatform div p{
        font-size: 2vw;
    }
    .ppcrpcmppcImage div{
        height: 15vw;
    }
    .ppcrpcmppcImage div h6{
        height: 15vw;
        font-size: 3vw;
        padding-bottom: 2%;
    }
    .ppcrpcmppContents button{
        width: 23%;
        font-size: 5vw;
        padding: 5% 3%;
        border-radius: 2vw;
        top: 1.5vw;
        right: 1.5vw;
    }
    .ppcrpcmppContents span input{
        padding: 5% 0;
        font-size: 3vw;
    }
    .ppcrpcmppContents p{
        display: none;
    }







    .ppcrProfileContents.myTransactions p{
        font-size: 2.3vw;
        margin: 5% 0;
        text-align: center;
    }
    .ppcrpcmpTransactions{
        height: auto;
        width: 100%;
        margin-top: 2%;
    }
    .ppcrpcmpTransactions table{
        height: auto;
        width: 100%;
    }
    .ppcrpcmpTransactions table tr th#ppcrpcmptPrice{
        display: none;
    }
    .ppcrpcmpTransactions table tr td#ppcrpcmptPrice{
        display: none;
    }
    .ppcrpcmpTransactions div{
        height: 70vw;
        width: 100%;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .ppcrpcmpTransactions table tr th#ppcrpcmptName{
        width: 33%;
    }
    .ppcrpcmpTransactions table tr th#ppcrpcmptDate{
        width: 30%;
    }
    .ppcrpcmpTransactions table tr th#ppcrpcmptHash{
        width: 37%;
    }
    .ppcrpcmpTransactions table tr td#ppcrpcmptName{
        width: 33%;
    }
    .ppcrpcmpTransactions table tr td#ppcrpcmptDate{
        width: 30%;
    }
    .ppcrpcmpTransactions table tr td#ppcrpcmptHash{
        width: 37%;
    }




}