h1, h2, h3, h4, h5, h6, p{
    color: white;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.sellerPanel{
    height: auto;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-bottom: 10vw;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}






.mcsAddCodeContainer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border: solid 2px black;
    -webkit-backdrop-filter: blur(15px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mcsacCodeContent{
    height: auto;
    width: 30%;
    position: relative;
    box-shadow: 0 0 15px gray;
    overflow: hidden;
    border-radius: 1vw;
    animation: fade-in-down 800ms ease;
}
.mcsacCodeContent button#closeAddCode{
    position: absolute;
    right: 1vw;
    top: 1vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1vw;
    cursor: pointer;
    text-shadow: 0 0 10px black;
    z-index: 5;
}
.mcsacccDetails{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mcsacccDetails img#mcsacccDetailsImg{
    height: 100%;
}
.mcsacccdShadow{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: 
    linear-gradient(black -50%, transparent),
    linear-gradient(transparent, black 70%);
}
.mcsacccdTitle{
    position: absolute;
    top: 1vw;
    left: 0;
    height: auto;
    width: 100%;
    padding: 0 1vw;
    padding-right: 3vw;
}
.mcsacccdt{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}
.mcsacccdtPlatform{
    height: 4vw;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid 2px white;
    padding: 2%;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 3%;
}
.mcsacccdtPlatform h5{
    font-size: 1.5vw;
    text-align: center;
}
.mcsacccdtPlatform img{
    height: 100%;
    filter: invert(1);
}
.mcsacccdtPlatform img[platform='PC']{
    content: url('../assets/imgs/GamePlatforms/PCGames.png');
}
.mcsacccdtPlatform img[platform='NintendoSwitch']{
    content: url('../assets/imgs/GamePlatforms/NintendoSwitch.png');
}
.mcsacccdtPlatform img[platform='XboxXS']{
    content: url('../assets/imgs/GamePlatforms/XboxXS.png');
}
.mcsacccdtPlatform img[platform='XboxOne']{
    content: url('../assets/imgs/GamePlatforms/XboxOne.png');
}
.mcsacccdtPlatform img[platform='PlayStation4']{
    content: url('../assets/imgs/GamePlatforms/PS4.png');
}
.mcsacccdtPlatform img[platform='PlayStation5']{
    content: url('../assets/imgs/GamePlatforms/PS5.png');
}
.mcsacccdtName{
    height: auto;
    width: 70%;
}
.mcsacccdtName h4{
    font-size: 1.1vw;
    line-height: 1.1vw;
    text-shadow: 0 0 10px black;
}
.mcsacccdtName p{
    font-size: 0.6vw;
    margin-top: 1%;
    text-shadow: 0 0 10px black;
}
.mcsacccdInfos{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 1vw;
    left: 0;
    padding: 0 1vw;
}
.mcsacccdiPrice{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mcsacccdip{
    height: auto;
    width: 48%;
}
.mcsacccdip h6{
    font-size: 0.7vw;
    font-weight: 400;
    margin-bottom: 2%;
    margin-left: 5%;
}
.mcsacccdip div{
    height: auto;
    width: 100%;
    border: solid 2px white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5%;
    border-radius: 10px;
}
.mcsacccdip div input{
    width: 100%;
    font-size: 0.9vw;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    color: white;
    overflow: hidden;
}
.mcsacccdiCode{
    height: auto;
    width: 100%;
    margin: 3% 0;
}
.mcsacccdiCode input{
    width: 100%;
    font-size: 0.9vw;
    background: none;
    border: solid 2px white;
    outline: none;
    color: white;
    overflow: hidden;
    padding: 8px 5%;
    border-radius: 10px;
    text-align: center;
}
.mcsacccdiSubmit{
    height: auto;
    width: 100%;
}
.mcsacccdiSubmit button{
    width: 100%;
    font-size: 0.9vw;
    background: none;
    border: solid 2px white;
    outline: none;
    color: white;
    overflow: hidden;
    padding: 3% 5%;
    border-radius: 10px;
    text-align: center;
    opacity: 50%;
    cursor: not-allowed;
    transition: 400ms ease;
}
.mcsacccdiSubmit button.active{
    opacity: 100%;
    transition: 400ms ease;
    cursor: pointer;
}
.mcsacccdiSubmit button.active:hover{
    background: white;
    color: black;
    transition: 400ms ease;
    box-shadow: 0 0 10px white;
}
.mcsacccdInfos p{
    font-size: 0.6vw;
    text-align: center;
    margin-top: 5%;
}










.mcsTicketReportContainer{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border: solid 2px black;
    -webkit-backdrop-filter: blur(15px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mcsatckrContent{
    height: auto;
    width: 30%;
    position: relative;
    box-shadow: 0 0 15px gray;
    overflow: hidden;
    border-radius: 1vw;
    background: black;
    animation: fade-in-down 800ms ease;
    padding: 3% 2%;
}
.mcsatckrContent button#closeAddCode{
    position: absolute;
    right: 1vw;
    top: 1vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1vw;
    cursor: pointer;
    text-shadow: 0 0 10px black;
    z-index: 5;
}
.mcsatckrcDetails{
    height: auto;
    width: 100%;
}
.mcsatckrcDetails h5{
    width: 100%;
    font-size: 1.2vw;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mcsatckrcDetails h5 .faIcons{
    margin-right: 5%;
}
.mcsatckrcDetails h6{
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 1vw;
    font-weight: 400;
}
.mcsatckrcDetails p{
    font-size: 0.7vw;
    color: gray;
    overflow: hidden;
}
.mcsatckrcConcern{
    height: auto;
    width: 100%;
    margin-top: 5%;
}
.mcsatckrcConcern div{
    height: auto;
    width: 100%;
    margin-bottom: 2%;
}
.mcsatckrcConcern p{
    font-size: 0.7vw;
    color: gray;
}
.mcsatckrcConcern div textarea{
    height: 7vw;
    width: 100%;
    background: none;
    outline: none;
    border: solid 2px gray;
    border-radius: 0.5vw;
    padding: 2% 3%;
    margin-top: 2%;
    color: white;
    resize: none;
    font-size: 0.7vw;
    overflow-y: scroll;
}
.mcsatckrcConcern div span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.mcsatckrcConcern div button{
    padding: 1.5% 5%;
    border: solid 1px white;
    outline: none;
    background: none;
    font-size: 0.7vw;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: 400ms ease;
    margin: 0 1.5%;
}
.mcsatckrcConcern div button:hover{
    background: white;
    color: black;
    transition: 400ms ease;
}
.mcsatckrcConcern div p#tixSellerResDate{
    text-align: right;
    color: white;
    font-size: 0.6vw;
    padding-right: 3%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mcsatckrcConcern div p#tixSellerResDate .faIcons{
    margin-right: 1.5%;
}




.mcsTicketMessageContainer{
    height: 85%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 1%;
}
.mcsatckmContent{
    height: 25vw;
    width: 30%;
    position: relative;
    box-shadow: 0 0 15px gray;
    overflow: hidden;
    border-radius: 1vw;
    background: black;
    padding: 3% 2%;
}
.mcsatckmContent button#closeAddCode{
    position: absolute;
    right: 1vw;
    top: 1vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1vw;
    cursor: pointer;
    text-shadow: 0 0 10px black;
    z-index: 5;
}
.mcsatckmcHeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mcsatckmcHeader div{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    margin-right: 5%;
}
.mcsatckmcHeader div img{
    height: 100%;
}
.mcsatckmcHeader span p{
    font-size: 0.7vw;
    color: gray;
}
.mcsatckmcContent{
    height: 14vw;
    width: 100%;
    margin: 5% 0;
    padding: 0 2%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}
.mcsatckmccConvos{ 
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;  /* Normal column layout for internal content */
}
.mcsatckmccConvo{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.mcsatckmccc{
    height: auto;
    width: 65%;
    padding: 4%;
    margin: 1% 0;
}
.mcsatckmccc p{
    font-size: 0.7vw;
}
.mcsatckmccc p#mcsatckmcccStart{
    color: gray;
}
.mcsatckmccc.hidden{
    background: transparent;
    width: 30%;
}
.mcsatckmccc.seller{
    background: rgba(80, 80, 80, 0.5);
    border-radius: 0.5vw;
    border-bottom-right-radius: 0;
}
.mcsatckmccc.user{
    background: rgba(80, 80, 80, 0.3);
    border-radius: 0.5vw;
    border-bottom-left-radius: 0;
}
.mcsatckmcMessage{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.mcsatckmcMessage textarea{
    height: 2vw;
    font-size: 0.7vw;
    width: 87%;
    resize: none;
    background: none;
    border: none;
    outline: none;
    color: white;
    padding: 0 5%;
    padding-top: 1.5%;
    border-radius: 50px;
    border: solid 2px gray;
}
.mcsatckmcMessage button{
    height: auto;
    width: 10%;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
}




















section.spPageContainer.top{
    height: auto;
    width: 20%;
    padding: 13vh 3%;
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
    overflow: hidden;
}
.spPageContent.top{
    height: auto;
    width: 100%;
}
.sppc.top{
    height: auto;
    width: 100%;
}
.sppctViewNav{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}
.sppctViewNav button{
    background: none;
    width: 100%;
    border: none;
    outline: none;
    padding: 5% 10%;
    border-radius: 0.5vw;
    margin-bottom: 5%;
    opacity: 50%;
    cursor: pointer;
    text-align: left;
}
.sppctViewNav button:hover{
    opacity: 100%;
    transition: 400ms ease;
}
.sppctViewNav button h6{
    width: 100%;
    font-size: 0.7vw;
    font-weight: 600;
    display: flex;
    justify-content: left;
    align-items: center;
}
.sppctViewNav button h6 .faIcons{
    font-size: 0.9vw;
    line-height: 0.7vw;
    margin-right: 3%;
}
.sppctViewNav button.activeNav{
    background: gold;
    box-shadow: 0 0 10px white;
    opacity: 100%;
}
.sppctViewNav button.activeNav h6{
    color: black;
}








section.spPageContainer.mid{
    height: auto;
    width: 80%;
}
.spPageContent.mid1{
    height: auto;
    width: 100%;
    width: 100%;
    padding: 13vh 3%;
    padding-bottom: 0;
    padding-right: 10%;
}














.sppcm1Dashboard{
    height: auto;
    width: 100%;
    padding: 1%;
    animation: fade-in-left 1s ease;
}
.sppcm1Dashboard h4{
    text-transform: uppercase;
    margin-bottom: 1%;
}
.sppcm1Dashboard p#sppcm1dInfo{
    color: gray;
}
.sppcm1dContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 2% 0;
}
.sppcm1dContent.left{
    height: auto;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0;
}
.sppcm1dContent.right{
    height: auto;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0;
    padding: 0.2% 0;
}
.sppcm1dContent.left div{
    height: auto;
    width: 32%;
    padding: 2%;
    border-radius: 1vw;
    border: solid 2px white;
    text-align: right;
    margin: 0.5%;
}
.sppcm1dContent.left div h6{
    margin-top: 5%;
}
.sppcm1dContent.right div{
    height: 100%;
    width: 48.5%;
    padding: 4% 3%;
    border-radius: 1vw;
    border: solid 2px white;
    text-align: right;
    position: relative;
    margin-left: 1%;
}
.sppcm1dContent.right div h4{
    font-size: 1.7vw;
    line-height: 2vw;
}
.sppcm1dContent.right div p{
    font-size: 0.7vw;
}
.sppcm1dContent.right div span{
    position: absolute;
    width: 85%;
    bottom: 7%;
    left: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sppcm1dContent.right div span h6{
    font-size: 0.7vw;
    display: flex;
    align-items: center;
}
.sppcm1dContent.right div span h6 .faIcons{
    font-size: 1vw;
    margin-right: 5%;
}
.sppcm1dContent.right div p{
    font-size: 0.7vw;
}
.sppcm1dContent div h6{
    font-size: 0.7vw;
    font-weight: 400;
}


.sppcm1dOthers{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 2%;
}
.sppcm1doContent.left{
    height: auto;
    width: 32%;
}
.sppcm1doContent.center{
    height: auto;
    width: 32%;
}
.sppcm1doContent.right{
    height: auto;
    width: 32%;
}
.sppcm1doContent h5{
    font-size: 1.2vw;
    text-align: center;
}
.sppcm1doclTickets{
    height: 15vw;
    width: 100%;
    margin-top: 3%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2%;
}
.sppcm1doclTicket{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4%;
    margin-bottom: 1%;
    border-radius: 5px;
}
.sppcm1doclTicket:nth-child(odd) {
    background: rgba(80, 80, 80, 0.5);
}
.sppcm1doclTicket:nth-child(even) {
    background: rgba(80, 80, 80, 0.3);
}
.sppcm1doclTicket span{
    width: 31%;
    margin-right: 2%;
}
.sppcm1doclTicket span p{
    font-size: 0.7vw;
}
.sppcm1docltEmpty{
    height: 100%;
    width: 100%;
    background: rgba(125, 125, 125, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    text-align: center;
    border-radius: 10px;
}
.sppcm1docltEmpty h5{
    font-size: 3vw;
    line-height: 2vw;
}
.sppcm1doclTransactions{
    height: 15vw;
    width: 100%;
    margin-top: 3%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2%;
}
.sppcm1doclWithdrawables{
    height: 15vw;
    width: 100%;
    margin-top: 3%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2%;
}








.sppcm1AddGames{
    height: auto;
    width: 100%;
    padding: 1%;
    animation: fade-in-left 1s ease;
}
.sppcm1AddGameContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.sppcm1AGameContent.left{
    height: auto;
    width: 30%;
}
.sppcm1AGameContent.left p#sppcm1agclInfo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    color: gray;
}
.sppcm1AGameContent.left p#sppcm1agclInfo .faIcons{
    margin-right: 5px;
}
.sppcm1agclContainer{
    height: auto;
    width: 100%;
}
.sppcm1agclContainer span{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    border-radius: 0.5vw;
    overflow: hidden;
}

.sppcm1agclContainer span input{
    width: 100%;
    border: none;
    padding: 8px 10px;
    background: none;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppcm1agclContents{
    height: 28vw;
    width: 100%;
    margin-top: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sppcm1agclcProducts{
    height: auto;
    width: 100%;
    padding: 3% 5%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 2%;
}
.sppcm1agclcProducts:nth-child(odd) {
    background: rgba(80, 80, 80, 0.5);
}
.sppcm1agclcProducts:nth-child(even) {
    background: rgba(80, 80, 80, 0.3);
}
.sppcm1agclcProducts button{
    position: absolute;
    top: 7%;
    right: 3%;
    font-size: 1vw;
    font-weight: 600;
    background: none;
    outline: none;
    border: none;
    color: white;
}
.sppcm1agclcProducts div{
    height: auto;
    width: 95%;
}
.sppcm1agclcProducts h6{
    font-size: 0.9vw;
}
.sppcm1agclcProducts p{
    font-size: 0.7vw;
}









.sppcm1AGameContent.right{
    height: auto;
    width: 60%;
    /* background: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 10px black;
    border-radius: 1vw;
    padding: 2% 0; */
}
.sppcm1AGameContent.right form{
    height: auto;
    width: 100%;
}
.sppcm1AGameContent.right p#agfcInfo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    color: gray;
}
.sppcm1AGameContent.right p#agfcInfo .faIcons{
    margin-right: 5px;
}
.sppcm1agcForm{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.sppcm1agcf.left{
    height: auto;
    width: 40%;
}
.sppc1agcfImage{
    height: 26vw;
    width: 100%;
    border-radius: 1vw;
    border: dashed 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 3%;
}
.sppc1agcfImage input{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    opacity: 0;
}
.sppc1agcfImage input#imageCoverHiddenText{
    display: none;
    opacity: none;
}
.sppc1agcfImage img{
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 1vw;
}
.sppcm1agcf.right{
    height: auto;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sppcm1agcf.right span{
    margin-bottom: 3%;
    width: 48%;
    position: relative;
}
.sppcm1agcf.right span#sppcm1agcfrTrailer{
    width: 100%;
}
.sppcm1agcf.right span#sppcm1agcfrTrailer input{
    margin-top: 1%;
}
.sppcm1agcf.right span#sppcm1agcfrAvailable,
.sppcm1agcf.right span#sppcm1agcfrRestricted{
    margin-bottom: 0;
}
.sppcm1agcf.right span button{
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 0.9vw;
    background: none;
    border: none;
    outline: none;
    color: white;
}
.sppcm1agcf.right span p,
.sppcm1agcf.left span p{
    font-size: 0.6vw;
    color: gray;
    font-style: italic;
    line-height: 0.7vw;
}
.sppcm1agcf.right span input,
.sppcm1agcf.left span input{
    width: 100%;
    margin-top: 3%;
    padding: 8px 10px;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppcm1agcf.right span select{
    width: 100%;
    margin-top: 2%;
    padding: 7px 10px;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppcm1agcf.right span textarea{
    width: 100%;
    margin-top: 2%;
    padding: 7px 10px;
    background: black;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
    resize: none;
}
.sppcm1agcf.right span select option{
    background: black;
    border: solid 1px white;
    font-weight: 400;
}
.sppcm1agcf.right span.gameDescription{
    height: auto;
    width: 100%;
}
.sppcm1agcf.right span.gameDescription textarea{
    height: 5vw;
    width: 100%;
    margin-top: 2%;
    padding: 7px 10px;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppc1agcfOthers{
    height: auto;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-left: 5%;
}
.sppc1agcfo.right{
    height: auto;
    width: 100%;
}
.sppc1agcfo.right span p,
.sppc1agcfo.left span p{
    font-size: 0.6vw;
    color: gray;
    font-style: italic;
    line-height: 0.7vw;
}
.sppc1agcfo.right span input{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 7px 10px;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppc1agcfo.right span textarea{
    height: 3.8vw;
    padding: 7px 10px;
}
.gameSubmitStatus{
    height: auto;
    width: 100%;
    text-align: center;
}
.gameSubmitStatus p{
    height: 1vw;
    text-align: center;
    margin: 1%;
    font-style: italic;
}
.sppc1agcfSubmit{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
}
.sppc1agcfSubmit button{
    width: 30%;
    padding: 1% 3%;
    background: none;
    border: solid 2px white;
    outline: none;
    border-radius: 50px;
    opacity: 50%;
    cursor: pointer;
    font-size: 0.7vw;
    color: white;
}
.sppc1agcfSubmit button:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 10px white;
    background: white;
    color: black;
}











.sppcm1GiftCards{
    height: auto;
    width: 100%;
    padding: 1%;
    animation: fade-in-left 1s ease;
}
.sppcm1AddGiftCardContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.sppcm1AGiftCardContent.left{
    height: auto;
    width: 30%;
}
.sppcm1AGiftCardContent.left p#sppcm1agclInfo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    color: gray;
}
.sppcm1AGiftCardContent.left p#sppcm1agclInfo .faIcons{
    margin-right: 5px;
}
.sppcm1AGiftcardsCAll{
    height: auto;
    width: 100%;
    margin-top: 6%;
}
.sppcm1AGiftcardsCAll div{
    width: 100%;
    padding: 4% 6%;
    margin-bottom: 3%;
    text-align: right;
    border-radius: 1vw;
    border: solid 2px white;
}
.sppcm1AGiftcardsCAll div p{
    font-size: 0.7vw;
    margin-top: 1%;
    opacity: 50%;
}
.sppcm1AGiftCardContent.right{
    height: auto;
    width: 60%;
}
.sppcm1AGiftCardContent.right form{
    height: auto;
    width: 100%;
}
.sppcm1AGiftCardContent.right p#agfcInfo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    color: gray;
}
.sppcm1AGiftCardContent.right p#agfcInfo .faIcons{
    margin-right: 5px;
}
.sppcm1agcvForm{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.sppcm1agcvf.left{
    height: auto;
    width: 40%;
}
.sppc1agcvfImage{
    height: 26vw;
    width: 100%;
    border-radius: 1vw;
    border: dashed 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 3%;
}
.sppc1agcvfImage input{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    opacity: 0;
}
.sppc1agcvfImage img{
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 1vw;
}
.sppcm1agcvf.right{
    height: auto;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sppcm1agcvf.right span{
    margin-bottom: 3%;
    width: 48%;
    position: relative;
}
.sppcm1agcvf.right span p,
.sppcm1agcvf.left span p{
    font-size: 0.6vw;
    color: gray;
    font-style: italic;
    line-height: 0.7vw;
}
.sppcm1agcvf.right span input,
.sppcm1agcvf.left span input{
    width: 100%;
    margin-top: 3%;
    padding: 7px 10px;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppcm1agcvf.right span select{
    width: 100%;
    margin-top: 3%;
    padding: 7px 10px;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppcm1agcvf.right span#sppcm1agcvfDes{
    width: 100%;
}
.sppcm1agcvf.right span textarea{
    height: 5vw;
    width: 100%;
    margin-top: 2%;
    padding: 7px 10px;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppcm1agcvf.right span select option{
    background: black;
    border: solid 1px white;
    font-weight: 400;
}
.sppcm1agcvf.right span.sppcm1agcvfDes{
    height: auto;
    width: 100%;
}
.sppcm1agcvf.right span.sppcm1agcvfDes textarea{
    height: 5vw;
    width: 100%;
    margin-top: 2%;
    padding: 2% 3%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppcm1agcvf.right span#sppcm1agcvfDisclaimer{
    width: 100%;
    padding: 0 3%;
}
.sppcm1agcvf.right span#sppcm1agcvfDisclaimer h6{
    margin-bottom: 2%;
}
.sppcm1agcvf.right span#sppcm1agcvfDisclaimer p{
    color: white;
    font-size: 0.7vw;
    line-height: 0.8vw;
}
.giftcardSubmitStatus{
    height: auto;
    width: 100%;
    text-align: center;
}
.giftcardSubmitStatus p{
    height: 1vw;
    text-align: center;
    margin: 1%;
    font-style: italic;
}
.sppc1agcvfSubmit{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
}
.sppc1agcvfSubmit button{
    width: 30%;
    padding: 1% 3%;
    background: none;
    border: solid 2px white;
    outline: none;
    border-radius: 50px;
    opacity: 50%;
    cursor: pointer;
    font-size: 0.7vw;
    color: white;
}
.sppc1agcvfSubmit button:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 10px white;
    background: white;
    color: black;
}






















.sppcm1GameCredits{
    height: auto;
    width: 100%;
    padding: 1%;
    animation: fade-in-left 1s ease;
}
.sppcm1AddGameCreditsContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.sppcm1AGameCreditsContent.left{
    height: auto;
    width: 30%;
}

.sppcm1AGameCreditsContent.left p#sppcm1agclInfo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    color: gray;
}
.sppcm1AGameCreditsContent.left p#sppcm1agclInfo .faIcons{
    margin-right: 5px;
}
.sppcm1AGameCreditsCAll{
    height: auto;
    width: 100%;
    margin-top: 6%;
}
.sppcm1AGameCreditsCAll div{
    width: 100%;
    padding: 4% 6%;
    margin-bottom: 3%;
    text-align: right;
    border-radius: 1vw;
    border: solid 2px white;
}
.sppcm1AGameCreditsCAll div p{
    font-size: 0.7vw;
    margin-top: 1%;
    opacity: 50%;
}
.sppcm1AGameCreditsContent.right{
    height: auto;
    width: 60%;
}

.sppcm1AGameCreditsContent.right p#agfcInfo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    color: gray;
}
.sppcm1AGameCreditsContent.right p#agfcInfo .faIcons{
    margin-right: 5px;
}
.sppcm1AGameCreditsContent.right form{
    height: auto;
    width: 100%;
}
.sppcm1agcrForm{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.sppcm1agcrf.left{
    height: auto;
    width: 40%;
}
.sppc1agcrfImage{
    height: 26vw;
    width: 100%;
    border-radius: 1vw;
    border: dashed 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 3%;
}
.sppc1agcrfImage input{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    opacity: 0;
}
.sppc1agcrfImage img{
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 1vw;
}
.sppcm1agcrf.right{
    height: auto;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sppcm1agcrf.right span{
    margin-bottom: 3%;
    width: 48%;
    position: relative;
}
.sppcm1agcrf.right span p,
.sppcm1agcrf.left span p{
    font-size: 0.6vw;
    color: gray;
    font-style: italic;
    line-height: 0.7vw;
}
.sppcm1agcrf.right span input,
.sppcm1agcrf.left span input{
    width: 100%;
    margin-top: 3%;
    padding: 7px 10px;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppcm1agcrf.right span select{
    width: 100%;
    margin-top: 2%;
    padding: 3% 5%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppcm1agcrf.right span#sppcm1agcrfDes{
    width: 100%;
}
.sppcm1agcrf.right span textarea{
    height: 5vw;
    width: 100%;
    margin-top: 1.5%;
    padding: 7px 10px;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}
.sppcm1agcrf.right span select option{
    background: black;
    border: solid 1px white;
    font-weight: 400;
}
.sppcm1agcrf.right span.sppcm1agcrfDes{
    height: auto;
    width: 100%;
}
.sppcm1agcrf.right span.sppcm1agcrfDes textarea{
    height: 5vw;
    width: 100%;
    margin-top: 2%;
    padding: 2% 3%;
    background: none;
    border: solid 1px white;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    font-weight: 400;
    color: white;
    outline: none;
}.sppcm1agcrf.right span#sppcm1agcrfDisclaimer{
    width: 100%;
    padding: 0 3%;
}
.sppcm1agcrf.right span#sppcm1agcrfDisclaimer h6{
    margin-bottom: 2%;
}
.sppcm1agcrf.right span#sppcm1agcrfDisclaimer p{
    color: white;
    font-size: 0.7vw;
    line-height: 0.8vw;
}
.gamecreditSubmitStatus{
    height: auto;
    width: 100%;
    text-align: center;
}
.gamecreditSubmitStatus p{
    height: 1vw;
    text-align: center;
    margin: 1%;
    font-style: italic;
}
.sppc1agcrfSubmit{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
}
.sppc1agcrfSubmit button{
    width: 30%;
    padding: 1% 3%;
    background: none;
    border: solid 2px white;
    outline: none;
    border-radius: 50px;
    opacity: 50%;
    cursor: pointer;
    font-size: 0.7vw;
    color: white;
}
.sppc1agcrfSubmit button:hover{
    opacity: 100%;
    transition: 400ms ease;
    box-shadow: 0 0 10px white;
    background: white;
    color: black;
}


















.sppcm1Product{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
    position: relative;
    overflow: hidden;
    border-radius: 1vw;
    padding: 1%;
}
.sppcm1ProductlistContainer{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.sppcm1ProductLeft-header p{
    font-size: .7vw;
}
.sppcm1ProductlistContent.left{
    width: 33%;
}
.sppcm1ProductlistContent.left ul{
    padding: 0;
    list-style: none;
    margin: 6% 0;
}
.totalGameProducts ul li{
    width: 100%;
    margin-bottom: 3%;
    padding: 4% 6%;
    text-align: right;
    border: solid 2px white;
    border-radius: 1vw;
}
.totalGameProducts li h1{
    font-size: 2vw;
}
.totalGameProducts li p{
    font-size: .7vw;
    opacity: 50%;
}
.sppcm1ProductlistContent.left hr{
    margin: 3% 0;
}


.sppcm1ProductlistContent.right{
    width: 100%;
}
.sppcm1ProductlistContent.right p#sppcm1pcrInfo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    color: gray;
}
.sppcm1ProductlistContent.right p#sppcm1pcrInfo .faIcons{
    margin-right: 5px;
}
.sppcm1ProductRight-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 3%;
}
.sppcmSearch{
    height: auto;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sppcmSearch form.spproductSearch{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 0 3%;
    overflow: hidden;
}
.sppcmSearch input{
    width: 85%;
    font-size: 0.9vw;
    padding: 2%;
    border: none;
    background: none;
    outline: none;
}
.sppcmSearch button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.sppcm1Filter,
.sppcm1Sort{
    height: auto;
    width: 25%;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}
.sppcm1Filter h6,
.sppcm1Sort h6{
    margin-right: 5%;
    cursor: pointer;
}
.sppcmviewFilterby,
.sortingSelection{
    width: 100%;
    padding: 5%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2vw;
    background: white;
    z-index: 2;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 400ms ease;
}
.sppcmviewFilterby.true,
.sortingSelection.true{
    visibility: visible;
    opacity: 1;
    transition: 400ms ease;
}
.sppcmviewFilterby p,
.sortingSelection p{
    color: black;
    font-size: 0.7vw;
    padding: 7% 5%;
    cursor: pointer;
    border-radius: 10px;
    transition: 400ms ease;
}
.sppcmviewFilterby p:hover,
.sortingSelection p:hover{
    background: black;
    color: white;
    transition: 400ms ease;
}



.sppcm1ProductRight-loader{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sppcm1ProductRightloader {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.sppcm1ProductRightloader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.sppcm1ProductRight-productList{
    height: 32vw;
    overflow-y: scroll;
    position: relative;
    border-radius: 1vw;
    margin-top: 3%;
}
.sppcm1ProductRight-productList h5{
    font-size: 1.5vw;
    margin-bottom: 1%;
    padding-left: 1%;
}
.sppcm1ProductRight-productList ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    justify-content: space-between;
    margin-bottom: 2%;
}
.sppcm1ProductRight-productList div#viewSellerProductEmpty{
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
.sppcm1ProductRight-productList div#viewSellerProductEmpty h6{
    text-align: center;
    font-size: 2vw;
    line-height: 1vw;
    opacity: 30%;
}
.sppcm1ProductRight-productList div#viewSellerProductEmpty h6 span{
    font-weight: 400;
    font-size: 0.7vw;
}
.sppcm1ProductRight-productList ul{
    display: flex;
    justify-content: left;
}
.sppcm1ProductRight-productList li{
    border: .1vw solid white;
    height: 14vw;
    width: 10.5vw;
    margin: 0.5%;
    border-radius: 1vw;
    transition: .3s ease;
    cursor: pointer;
    padding: 1%;
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: center;
    overflow: hidden;
    background: url('../assets/imgs/GameBanners/DefaultNoBanner.png') no-repeat center;
    background-size: cover;
}
.sppcm1ProductRight-productList li:hover{
    transform: scale(1.03);
    box-shadow: 0 0 1vw white;
}
.sppcm1ProductRight-productList li:hover .sppcm1Gameinfo-edit{
    visibility: visible;
    opacity: 1;
}
.sppcm1gcDenomination{
    height: 3vw;
    width: 4vw;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5vw;
    box-shadow: 0 0 10px gray;
}
.sppcm1gcDenomination h6{
    color: black;
}
.sppcm1gcDenomination h6 sup{
    font-size: 0.7vw;
    font-weight: 400;
}
.sppcm1Gameinfo{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    box-sizing: border-box;
    padding: 5% 10%;
}
.sppcm1Gameinfo h1{
    font-size: .7vw;
}
.sppcm1Gameinfo p{
    font-size: .5vw;
    text-transform: uppercase;
    margin: 1% 0 0 0;
}
.sppcm1Gameinfo-edit{
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 2;
    bottom: 0;
    padding: 12% 10%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    display: flex;
    align-items: end;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.sppcm1Gameinfo-edit section{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sppcm1Gameinfo-edit section button{
    width: 80%;
    padding: 5%;
    border: solid 2px white;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 400ms ease;
    font-size: 0.7vw;
}
.sppcm1Gameinfo-edit section a{
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
}
.sppcm1Gameinfo-edit section button:hover{
    background: white;
    color: black;
    transition: 400ms ease;
}







.sppcm1Inventory{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
    position: relative;
    overflow: hidden;
    border-radius: 1vw;
    padding: 1%;
}
.sppcm1InventoryContainer{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.sppcm1InventoryContent{
    height: auto;
    width: 100%;
}
.sppcm1InventoryContent p#sppcm1pcrInfo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    color: gray;
}
.sppcm1InventoryContent p#sppcm1pcrInfo .faIcons {
    margin-right: 5px;
}
.sppcm1icSellerCodes{
    border-radius: 1vw;
    height: 30vw;
    margin-top: 3%;
    overflow-y: scroll;
    position: relative;
}
.sppcm1icscEmpty{
    height: 100%;
    width: 100%;
    background: rgba(125, 125, 125, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    text-align: center;
}
.sppcm1icscEmpty h5{
    font-size: 3vw;
    line-height: 2vw;
    margin-bottom: 5%;
}











.sppcm1Tickets{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
    position: relative;
    overflow: hidden;
    border-radius: 1vw;
    padding: 1%;
}
.sppcm1TicketsContainer{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.sppcm1TicketsContent{
    height: auto;
    width: 100%;
}
.sppcm1TicketsContent p#sppcm1pcrInfo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    color: gray;
}
.sppcm1TicketsContent p#sppcm1pcrInfo .faIcons {
    margin-right: 5px;
}
.sppcm1tcEmpty{
    height: 100%;
    width: 100%;
    background: rgba(125, 125, 125, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    text-align: center;
}
.sppcm1tcEmpty h5{
    font-size: 3vw;
    line-height: 2vw;
    margin-bottom: 5%;
}
.sppcm1tcReports{
    height: 30vw;
    overflow-y: scroll;
    position: relative;
    margin-top: 3%;
}
.sppcm1tcrpInfo{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 0 1%;
}
.sppcm1tcrpInfo:nth-child(odd) {
    background: rgba(80, 80, 80, 0.5);
}
.sppcm1tcrpInfo:nth-child(even) {
    background: rgba(80, 80, 80, 0.3);
}
.sppcm1tcrpInfo div{
    padding: 3px;
}
.sppcm1tcrpInfo div p{
    font-size: 0.7vw;
}
.sppcm1tcrpInfo div p span{
    color: gray;
}
.sppcm1tcrpi{
    border-radius: 10px;
}
.sppcm1tcrpiDate{
    width: 10%;
}
.sppcm1tcrpiTicket{
    width: 10%;
}
.sppcm1tcrpiProduct{
    width: 25%;
}
.sppcm1tcrpiUserID{
    width: 20%;
}
.sppcm1tcrpiStatus{
    width: 10%;
}
.sppcm1tcrpiDetails{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sppcm1tcrpiDetails button{
    height: 100%;
    width: 100%;
    font-size: 1.2vw;
    color: white;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}







.sppcm1Sold{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
    position: relative;
    overflow: hidden;
    border-radius: 1vw;
    padding: 1%;
}
.sppcm1SoldContainer{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.sppcm1TransactionContent{
    height: auto;
    width: 100%;
}
.sppcm1TransactionContent p#sppcm1pcrInfo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    color: gray;
}
.sppcm1TransactionContent p#sppcm1pcrInfo .faIcons {
    margin-right: 5px;
}
.sppcm1Transactions{
    border-radius: 1vw;
    height: 32vw;
    margin-top: 3%;
    overflow-y: scroll;
    position: relative;
}
.sppcm1tEmpty{
    height: 100%;
    width: 100%;
    background: rgba(125, 125, 125, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    text-align: center;
}
.sppcm1tEmpty h5{
    font-size: 3vw;
    line-height: 2vw;
    margin-bottom: 5%;
}





.sppcm1FAQS{
    height: auto;
    width: 100%;
    animation: fade-in-left 1s ease;
}
.sppcm1FAQSContainer{
    display: flex;
    justify-content: space-between;
    align-items: top;
}






