h1, h2, h3, h4, h5, h6, p{
    color: white;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.termsAndCondition{
    height: auto;
    width: 100%;
    background: black;
    padding-bottom: 5vw;
}



section.termsAndConditionPageContainer.top{
    height: auto;
    width: 100%;
    padding: 4vw 15%;
    padding-top: 7vw;
    padding-bottom: 2vw;
}
.termsAndConditionPageContent{
    height: auto;
    width: 100%;
}
.termsAndConditionPageContent h4{
    margin-bottom: 5%;
}
.termsAndConditionPageContent p{
    margin-top: 2%;
    margin-bottom: 5%;
}
.termsAndConditionPageContent p ul{
    padding: 0 2%;
    margin-top: 1%;
}
.termsAndConditionPageContent p ul li{
    margin: 1% 0;
}



@media screen and (max-width: 500px){
    section.termsAndConditionPageContainer.top{
        padding: 5vw 5%;
        padding-top: 15vh;
    }
    .termsAndConditionPageContent h4{
        text-align: center;
        font-size: 5vw;
    }
    .termsAndConditionPageContent h5{
        font-size: 5vw;
    }
    .termsAndConditionPageContent p{
        font-size: 3vw;
        margin-bottom: 10%;
    }














}










